[2011-05-08 21:59] rromanchuk opened #3 "Redirection fatal for http -> https"
meatinspector currently fails if there is an http to https redirection due to an issue with open URI. http://redmine.ruby-lang.org/issues/3719

An example to reproduce
ruby-1.9.2-p136 :001 > page = MetaInspector.new('http://wepay.com')
 => #<MetaInspector::Scraper:0x000001043c00c8 @address="http://wepay.com", @links=nil, @image=nil, @keywords=nil, @description=nil, @title=nil, @document=nil>
ruby-

[2011-05-09 05:52] #3 closed, assigned to nobody

[2011-09-10 07:30] rromanchuk opened #9 "Newlines in titles"
This might be controversial, but it might be nice to strip any newlines inside Scraper#title

<title>
           Carol Bartz exclusive: Yahoo "f---ed me over" -
        Postcards   </title>
# page.title

 => "\n\t\t   Carol Bartz exclusive: Yahoo \"f---ed me over\" - \n\t\tPostcards\t"

Ran into above at  http://postcards.blogs.fortune.cnn.com/2011/09/08/carol-bartz-fired-yahoo/  We could probably

[2011-09-22 08:43] rromanchuk opened #10 "page.images fails on malformed html (rare)"
Throws a fatal for this page www.guardian.co.uk/media/pda/2011/sep/15/techcrunch-arrington-startups

...because of a drunk developer  o_O

[code]

fails here when src is nil.value

[code]

[2012-04-28 14:49] #10 closed, assigned to nobody

[2012-04-28 14:50] #9 closed, assigned to nobody

[2012-05-27 21:38] rromanchuk opened #14 "Strange 503 with stackoverflow"
I have no idea why yet, probably getting blocked by useragent/ip. Will investigate.

`Loading production environment (Rails 3.2.3)
1.9.3p125 :001 > v = "http://stackoverflow.com/questions/3573955/how-can-i-hide-keyboard-when-i-press-return-key"
 => "http://stackoverflow.com/questions/3573955/how-can-i-hide-keyboard-when-i-press-return-key"
1.9.3p125 :002 > page = MetaInspector.new(v) => #<MetaInsp

[2012-05-27 22:08] #14 closed, assigned to nobody

[2012-07-07 12:50] Jeewes opened #18 "Nice to add: page.favicon"
I would be nice to get the page favicon.

[2012-07-08 20:02] #18 closed, assigned to nobody

[2012-07-08 20:42] jaimeiniesta opened #19 "to_hash not working"
On metainspector 1.9.0, to_hash is failing:

[code]

[2012-07-11 19:31] dzelle opened #20 "undefined method `value' for nil:NilClass"
Hi,

I'm trying to use metainspector to grab meta data in a rails app. I consistently get the following when trying page.image or page.description. It works, however, in the rails console. Below is the trace.

metainspector (1.9.0) lib/meta_inspector/scraper.rb:127:in `block in method_missing'
nokogiri (1.5.3) lib/nokogiri/xml/node_set.rb:239:in`block in each'
nokogiri (1.5.3) lib/nokogiri/xml/nod

[2012-07-13 08:50] #20 closed, assigned to nobody

[2012-07-21 12:03] ghost opened #21 "Feature Request"
Hi, metainspector is just awesome. Is there a way to extract favicon.ico? Pismo gem has this feature, but I use metainspector for everything, so it would be great if metainspector has this feature too.. thanks.

[2012-07-21 12:26] #21 closed, assigned to nobody

[2012-07-22 16:43] #19 closed, assigned to nobody

[2012-09-10 21:58] rromanchuk opened #22 "charguess.so undefined symbol: _ZTVN10__cxxabiv117__class_type_infoE"
I guess you already know... https://github.com/ernesto-jimenez/charguess/issues/4

[2012-09-12 16:04] #22 closed, assigned to nobody

[2012-11-16 06:34] jaimeiniesta opened #26 "internal/external links fail when they contain international characters"
To reproduce this, try:

  MetaInspector.new('http://en.wikipedia.org/wiki/Roman%C3%A9e-Conti').internal_links

There's trouble with URI.parse handling international characters:

  URI::InvalidURIError: bad URI(is not URI?): http://en.wikipedia.org/w/index.php?title=Romanée-Conti&oldid=498422634
    from /Users/jaime/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/uri/common.rb:176:in `split'
    from

[2012-11-16 06:49] #26 closed, assigned to nobody

[2012-11-16 06:52] jaimeiniesta opened #27 "Can't use international characters in host"
MetaInspector crashes when initializing it with a URL that contains international characters:

MetaInspector.new('http://example.com/olé')

Bad URI. Is not an URI?

Possible fixes are encoding the URL before parsing it, or get the host and scheme using a regexp.

[2012-11-16 07:23] #27 closed, assigned to nobody

[2012-11-17 04:37] gabceb opened #28 "Links with malformed hrefs throw exception"
Pages such as http://www.nationalgeographic.com contain links with href values that are invalid URIs.

The method absolutify_url throws URI::InvalidURIError (bad URI(is not URI?)) when trying to get the links for the page.

We should be able to catch those exceptions and don't add the link to the links array.

[2012-11-17 10:08] #28 closed, assigned to nobody

[2012-11-18 08:30] fredbaa opened #30 "timeout option giving an error"
everytime I add an option :timeout when instantiating MetaInspector, i get this following error:

Scraping exception: undefined method `zero?' for {:timeout=>30}:Hash
Parsing exception: undefined method`match' for #Array:0x007ff1b7fc95f8
NoMethodError: undefined method `xpath' for #Array:0x007ff1b7fc95f8

what seems to be the problem?

[2012-11-18 09:39] #30 closed, assigned to nobody

[2012-11-27 00:16] gabceb opened #32 "Open-uri doesn't allow redirects from http to https"
Pages such as http://www.facebook.com redirect to https://www.facebook.com and causes open-uri to throw the exception: "redirection forbidden: http://facebook.com -> https://facebook.com/".

The issue is posted on the open-uri db and has 2.0.0 as the target version. This gist (https://gist.github.com/1271420) has a monkey patch for OpenUri that enables unsafe redirects which fixes this issue.

[2012-11-27 07:31] #32 closed, assigned to nobody

[2012-12-04 11:12] jaimeiniesta opened #34 "Crash on malformed mailto links"
MetaInspector crashes on this scenario:

[code]

It seems that there is a malformed mailto:

[code]

[2012-12-13 15:14] jaimeiniesta opened #35 "Crash on malformed javascript links"
internal_links and external_links make MetaInspector crash when a page contains a link like:

a href="javascript://"

Related to #34

[2012-12-13 20:58] #34 closed, assigned to nobody

[2012-12-13 20:59] #35 closed, assigned to nobody

[2013-01-10 19:21] TheHodge opened #36 "Accept variable with html content"
I'd like to be able to call MetaInspector.new(url.body_str) as I'm already calling curb for the information in other uses, I've not found a way of doing this.. is it possible / can it be added

[2013-01-10 21:58] #36 closed, assigned to nobody

[2013-03-13 07:39] jaimeiniesta opened #38 "Bug in absolutify_url"
Absolutification of relative urls is failing because it's getting the root_url instead of the url of the main page. Like in:

url = "http://example.com/company/"
relative "about"

url + about should be "http://example.com/company/about", but it's returning "http://example.com/about"

[2013-03-13 07:40] #38 closed, assigned to nobody

[2013-04-04 06:29] bostondevin opened #39 "Iterator for all meta tags?"
Hello - is there a way I can iterate through all the meta tags on the page? Also, pull meta tags that are not necessarily OG tags or other non-standard ones - what about custom meta tags? If I had an iterator through it all that would be enough I think.

[2013-04-04 11:27] #39 closed, assigned to nobody

[2013-04-19 10:03] jaimeiniesta opened #41 "Relative internal links are not being properly absolutified"
When parsing http://observatory.derbyshire.gov.uk/IAS/transportaccess/traveltowork.aspx for internal links, the link to "../sitemap" should be absolutified as:

http://observatory.derbyshire.gov.uk/IAS/sitemap

Instead, it's being wrongly absolutified as:

http://observatory.derbyshire.gov.uk/IAS/transportaccess/sitemap

[2013-04-19 11:12] #41 closed, assigned to nobody

[2013-07-06 10:40] TheHodge opened #42 "metainspector following redirects when given :document"
The senario is, I'm already running a script to get the content of the page and I just want metainspector to analysis that, so I'm using the :document functionaility

@meta = MetaInspector.new(site_url, document: page_body)

however MetaInspector seems to ignore the document and still check the url (and follow a redirect)

for example

[code]

When in my use case, a should be nil

[2013-07-06 11:20] #42 closed, assigned to nobody

[2013-08-21 10:19] limonka opened #43 "Problem with fetching metadata of some websites"
Here is an example:

[code]

Do you have any idea why this is happening?

[2013-10-01 18:01] jaimeiniesta opened #46 "Relative links improperly parsed on documents that use the <base> tag"
In the case of documents that use the <base> tag to define a base URL, relative links are not properly parsed as this tag is not being taken into account.

[2013-10-01 18:48] #46 closed, assigned to nobody

[2013-10-04 04:35] gabceb opened #47 "On safe/all redirects, the new uri should be available from Metainspector"
On :safe and :all redirects, the new uri after the redirect should be available as a property of Metainspector. This is the behavior used by open-uri.

[code]

@jaimeiniesta I was wondering what your take is on replacing the url, scheme, host and root_url or just saving the new uri on a different variable (i.e: redirect_url, redirect_scheme, redirect_host, etc).

[2013-10-04 08:49] jaimeiniesta opened #48 "Use base url to absolutify images"
Following the change at #46 we should also use the `<base href="..." />` value to absolutify `images` and `image` for relative URLs.

[2013-10-04 20:39] jaimeiniesta opened #49 "Opinion wanted: store exceptions, or raise them?"
Hey everyone, I wanted to know your opinion on this.

Since #16 we've been storing the exceptions in the `errors` array and the way to check if everything was right after a query is to check the `ok?` method.

I've been thinking about this and I'm not really sure if this is still a good idea. I mean, maybe it's simpler and more effective to let the exceptions raise when they occur (as @rromanchuk

[2013-10-11 11:55] jaimeiniesta opened #50 "Decomposing into smaller classes"
I'm working on decomposing the Scraper class into smaller classes, with clearer responsibilities.

You can see the changes here (work in progress!)

https://github.com/jaimeiniesta/metainspector/compare/smaller

[2013-10-14 13:16] #49 closed, assigned to nobody

[2013-10-14 18:10] #47 closed, assigned to nobody

[2013-10-22 10:37] #50 closed, assigned to nobody

[2013-11-13 17:02] itsbalamurali opened #53 "Can you please add support for fetching favicon url & all metatags in .metatags method"
First of all thanks :smile: for the gem :+1:   and can you please add support for fetching favicon url & all metatags in .metatags method

[2013-11-13 18:46] #53 closed, assigned to nobody

[2013-12-01 16:06] archiloque opened #54 "Documentation is outdated"
It seems the page.document and page.parsed_document methods used in the example are now private and renamed

[2013-12-04 16:46] #54 closed, assigned to nobody

[2014-01-05 23:39] daviddeparolesa opened #55 "page.meta_og_site_name returns nil"
Hi,

I get a nil value when calling "page.meta_og_site_name" . I've confirmed this across several sites that have this meta property set correctly.

Example:
http://gothamist.com/2014/01/05/6926_years_of_nyc_history_disappear.php

should return "Gothamist"

Could the underscore in the property name be the culprit?

Thanks!

[2014-01-09 09:20] #55 closed, assigned to nobody

[2014-01-09 09:32] jaimeiniesta opened #56 "Stop using metaprogramming to get meta tags"
Currently we're finding meta tags using metaprogramming, like:

[code]

We've recently found a limitation on this model on #55, for the case when the meta tag itself uses underscores, like in `og:site_name` or `og:audio:secure_url`. To solve this I've applied a temporary patch for this case, but I'm not satisfied with the results.

I'm going to explore a simpler way, which could be something like:

[2014-01-20 10:01] #56 closed, assigned to nobody

[2014-01-25 11:09] jaimeiniesta opened #57 ""undefined method css" when extracting meta tags"
As submitted by @daviddeparolesa on #56

When I try to access page.meta for this URL, I get an "undefined method css" error:
http://6thfloor.blogs.nytimes.com/2014/01/23/how-our-hillary-clinton-cover-came-about

[code]

When I check page.exceptions:
     [#,
     #,
     #,
     #,
     #,
     #,
     #,
     #]

[2014-01-30 04:42] aldajulian opened #58 "how I can get a full description of the website without automatically deducted"
when i try this gem is very cool, but i need a full of description of web page, how i can get full of description from page using metainspector ? I've tried but have not got it.

[2014-02-03 06:34] #58 closed, assigned to nobody

[2014-02-14 20:48] jaimeiniesta opened #59 "Add testing for ruby 2.1.0"
As commented on https://github.com/jaimeiniesta/metainspector/issues/57#issuecomment-35118671 we should test on Ruby 2.1.0

[2014-02-14 21:47] #59 closed, assigned to nobody

[2014-02-16 18:34] #57 closed, assigned to nobody

[2014-02-16 18:36] jaimeiniesta opened #60 "redirection loop on redirections that use cookies"
As explained on #57 by @daviddeparolesa there is a problem following redirections that involve cookies:

[code]

[2014-04-01 09:18] #48 closed, assigned to nobody

[2014-04-02 23:31] ugran opened #62 "Website prevents scrapping with redirections?"
For example:
http://www.topman.com/en/tmuk/product/clearance-2800326/sale-t-shirts-vests-140905/taxonomy-black-floral-fade-out-t-shirt-2319444?bi=1&ps=20

When I try to scrap this page, MetaInspector fetches data from redirections, instead of the base url.
The base url clearly has meta property og:image when I inspect it.

I'm sorry, but what's the catch here?

[2014-04-03 07:57] #62 closed, assigned to nobody

[2014-04-22 00:00] ugran opened #64 "Error 404 when scrapping page accessible through browser."
Hi,

There is a new kind of problem I've got into.
Several days ago I could scrappe pages from zara's website, but now when I try, it gives me an open uri error 404. There is a problem when I try to pin the url on pinterest also, but facebook does it with ease.

For example:
http://www.zara.com/us/en/woman/coats/loose-fit-trench-coat-c367501p1933522.html

[2014-04-30 12:41] #64 closed, assigned to nobody

[2014-04-30 16:09] ugran opened #65 "uninitialized constant MetaInspector::VERSION"
After the latest merge I get error:
uninitialized constant MetaInspector::VERSION

Guess something's going wrong in my app while setting headers...

Also setting a custom header doesn't seem to work this out.

[2014-04-30 18:04] #65 closed, assigned to nobody

[2014-05-03 17:21] jjb opened #66 "Test failure in master"
is this expected?

[code]

[2014-05-31 12:04] ugran opened #68 "Here is my project. Just wanted to share with you :)"
http://www.listomnia.com/

Thanks for the gem Jaime.

[2014-05-31 18:59] #68 closed, assigned to nobody

[2014-08-08 15:42] jjb opened #78 "should this exception be logged to the logger?"
Seems to be the only place in the whole codebase where you don't log a rescued exception.

https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/url.rb#L48

[2014-08-08 19:11] #66 closed, assigned to nobody

[2014-09-04 21:43] marunbai opened #83 "Problem with fetching site title"
When fetching data from this site:

http://nymag.com/thecut/2014/09/remembering-joan-riverss-iconic-style.html?om_rid=AACo6R

The title is:

'Remembering Joan Rivers’s Iconic Style -- The CutDrop down arrowClose Dialog IconSearch iconMenu iconArrowArrowFacebook iconTwitter iconGoogle+ iconPinterest iconWhatsapp iconEmail iconComment iconPrint iconClose Dialog IconOpen SlideshowFacebook iconTwitter

[2014-09-05 14:49] #83 closed, assigned to nobody

[2014-10-03 17:21] jjb opened #84 "1.9 syntax for v3?"
i'm working on the various v3 features now. what do you think of dropping support for ruby < 1.9?

[2014-10-03 20:16] #84 closed, assigned to nobody

[2014-10-03 23:11] #43 closed, assigned to nobody

[2014-10-05 02:01] jjb opened #89 "timeouts and retries"
in my app, sometimes metainspector gets a timeout when accessing a url.

i would like to build in support for timeouts and retries. for example, set the connection+response timeout to 5 seconds, and do 3 retries (4 total tries) before giving up. (i'll do research on what best/common practices are for those numbers)

an approach to doing this is described here: http://stackoverflow.com/questions/56

[2014-10-07 15:04] jjb opened #90 "smarter image picking"
i'd like to be able to do smarter image picking somehow. we could…

* use og metadata for width and height to present to the user the og images in decreasing size (few sites will have both multiple images and the size data available though)
* download all images, determine their size, then present them in an array of decreasing size
* use nokogiri to somehow intelligently guess which images are fr

[2014-10-07 15:50] jaimeiniesta opened #91 "3.0 release"
@jb I think we can start to think on releasing 3.0, is there anything you want to add before it?

If everything is ready then I'll do a general review of the latest changes, update the README, and release it.

[2014-10-07 19:15] #60 closed, assigned to nobody

[2014-10-07 19:59] #91 closed, assigned to nobody

[2014-10-08 15:48] #89 closed, assigned to nobody

[2014-10-09 10:22] jaimeiniesta opened #93 "uninitialized constant Faraday::ConnectionFailed"
[code]

[2014-10-09 10:37] #93 closed, assigned to nobody

[2014-10-13 16:53] jgandt opened #94 "new(<url>, warn_level: :store) does not honor warn_level."
The default options do not allows for creation of an ExceptionLog with the entered warn_level here: https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/document.rb#L26

You could work around this by passing in a manually created exception_log, but that negates the whole point of having the warn_level option.

I will try to come up with an example and PR for this soon.

[2014-10-14 10:12] #94 closed, assigned to nobody

[2014-10-17 20:14] jgandt opened #96 "Question: Should an exception be added when a 404 is found?"
In version 1.15.3, pages that returned a 404's raised/stored an exception (and ok? returned false when warn_level was set to :store) as expected. (I have a test in my application that confirms this.)

In more recent versions, it seems like a 404 no longer raises the expected exception. (Updating to 3.x broke the behavior I was testing.)

So before I dive in deeper to understand why I'm not seeing

[2014-10-22 20:55] jaimeiniesta opened #98 "Reviewing external links"
Currently, we have 3 methods for dealing with link scraping:

https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/parser.rb#L64-L77

`links` will return all links found on a page, `internal_links` will give you only those that are on the same host as the page, and `external_links` is equivalent to `links` _minus_ `internal_links`.

What's not so clear is that, due to the c

[2014-10-23 06:44] #96 closed, assigned to nobody

[2014-10-26 20:49] ainformatico opened #99 "custom meta tags"
I've seen some webpages using _schema_ to define their attributes. That means they are defining `meta` tags like this:

[code]

`metainspector` does a strict selection for `meta` tags and do not add these ones to `.meta_tags`.
Think all the `meta` tags should be returned when calling `.meta_tags`.
Also would be awesome is `metainspector` is smart enough to use `meta name="description"` or `itempro

[2014-11-05 09:19] #98 closed, assigned to nobody

[2014-11-05 09:22] #99 closed, assigned to nobody

[2014-11-16 18:18] jaimeiniesta opened #106 "4.0.0 prerelease"
I have released MetaInspector 4.0.0.rc1, which can be installed with `gem install metainspector --pre`.
## Changes in 4.0
- The links API has been changed, now instead of `page.links`, `page.internal_links` and `page.external_links` we have:

[code]
- The images API has been changed, now instead of `page.image` we have `page.images.best`, and instead of `page.favicon` we have `page.images.favicon`

[2014-11-19 20:40] mainmethod opened #107 "edge case where url = 'http://www.google'"
I haven't dug into the source to debug, but there seems to be a strange edgecase where when the url is set to 'http://www.google' the request just hangs.  No timeout, no exceptions raised, and nothing returned.  Leaving this here just for the record

version 3.3.0

[2014-11-20 07:55] #107 closed, assigned to nobody

[2014-11-25 22:51] #106 closed, assigned to nobody

[2014-12-19 15:19] hokaccha opened #110 "%EF%BD%9E in URL is converted to ~"
I was faced with the following issue.

[code]

I think it should be `http://example.com/%EF%BD%9E`.

[2014-12-20 00:27] #110 closed, assigned to nobody

[2015-01-02 19:16] derekclee opened #112 "problem with timeouts in version 4.0.0"
In version 3, timeouts seem fine. In version 4.0.0, when I try

[code]
It takes much longer than 5 seconds to timeout.  I ran across that site which doesn't respond (hope it stays that way until you check it out...) .

Thanks.

[2015-01-03 11:18] jaimeiniesta commented on #112
Hey @derekclee thanks for your report, and happy new year!

Keep in mind that by default, we'll retry up to 3 times, so if you set a timeout of 5, it will be retried 3 times, for a total of 20 seconds until the timeout is reached.

You can set the number or retries like this:

[code]

I'd use at least 1 retry, however. Maybe just set a shorter timeout?

[2015-01-12 17:21] derekclee commented on #112
@jaimeiniesta Thanks for clarifying how timeouts work.  Sorry it took me so long to reply. It seems to be working fine. Happy belated new year!

[2015-01-12 21:06] jaimeiniesta commented on #112
You're welcome!

[2015-01-12 21:06] #112 closed

[2015-01-13 05:39] amalfra opened #113 "Nokogiri error when installing"

[2015-01-13 05:40] amalfra opened #114 "Nokogiri error when installing"
installed linux distro: Amazon Linux AMI 2014.09.1

IMPORTANT NOTICE:

Buidling Nokogiri with a packaged version of libxml2-2.9.2
with the following patches applied:
	- 0001-Revert-Missing-initialization-for-the-catalog-module.patch
	- 0002-Fix-missing-entities-after-CVE-2014-3660-fix.patch

Team Nokogiri will keep on doing their best to provide security
updates in a timely manner, but if this is

[2015-01-13 05:40] #113 closed

[2015-01-13 11:04] jaimeiniesta commented on #114
nokogiri is what we use to parse the HTML documents; for errors installing this you should ask them:

http://www.nokogiri.org/tutorials/getting_help.html

[2015-01-13 11:04] #114 closed

[2015-01-13 11:09] amalfra commented on #114
Okay... Thanks...

[2015-01-16 14:23] mmmmmrob commented on #90
I've dropped in a PR for giving back a smarter largest image where OG and Twitter are missing.

[2015-01-16 14:34] jaimeiniesta opened #116 "Update README with contributing guidelines"
Make it easier for contributors to get on the train.

- [ ] Spec fixtures

[2015-01-20 13:22] jaimeiniesta commented on #90
Does the new `page.images.largest` released in 4.2.0 solve this issue? Or would you still be wanting to add more features, like returning all the images ordered by size?

[2015-01-20 20:11] jjb commented on #90
Hi -- the new feature looks awesome, thanks @mmmmmrob and @jaimeiniesta !

I think I would still like a sorted array. Eventually I want to let my users pick from the top 3 or so.

Looks like this is already achieved within `largest` and could be extracted as its own method pretty easily?

[2015-01-20 20:12] jjb commented on #90
I have it on my todo list to fix a related problem in about a week from now, so I can potentially work on this feature then.

[2015-01-21 09:57] jaimeiniesta commented on #90
That'd be great @jjb!

I also think it should be pretty straightforward to extract the collection of images with their size information to a separate method.

If apart from ordering them all, we could make the `width` and `height` of each image available, it would be great too.

[2015-01-27 10:45] mmmmmrob opened #117 "Best guess at title?"
Many pages I come across have poorly formed html in a variety of ways — I'm sure you've seen it too.

At the moment #title returns the inner_text of the 'head title' in the html. Limitations of this are that sometimes it returns an array, rather than a simple string and, of course, there isn't always a title element in the head.

I propose #best_title to do some smart guessing in a similar way to

[2015-01-27 11:03] jaimeiniesta commented on #117
:+1:

I think we should have a look at the [pismo](https://github.com/peterc/pismo) gem and learn some tricks from it.

My main worries about that are losing accuracy, I mean, we should differentiate somehow between exact matches and guessed matches, which is exactly what you propose by having two separate methods.

But maybe we should separate this (as a major version) in two different parsers, o

[2015-01-27 12:02] mmmmmrob commented on #117
That might be a nice way to go — I've just sent a PR with what I initially suggested.

[2015-01-27 13:05] jaimeiniesta commented on #117
I like what you propose on the PR by now, we can add it on 4.2.1 and think about all the other changes later.

Let me know when you're ready with the PR.

[2015-01-29 09:44] jaimeiniesta commented on #117
PR merged, closing this issue.

[2015-01-29 09:44] #117 closed

[2015-01-29 10:31] #116 closed

[2015-02-04 08:40] samuraraujo opened #121 "Document language method."
Would be nice if we could add a method to extract the language of the html document.

[2015-02-04 10:46] jaimeiniesta commented on #121
:+1:, would you like to work on that?

[2015-02-04 10:47] jaimeiniesta commented on #121
There are some interesting gems that we could use for that, like https://github.com/peterc/whatlanguage

[2015-02-04 11:06] samuraraujo commented on #121
Yes, I could do it. But I was thinking about something very simple. Just get the lang attribute on the HTML tag of a page. I think would be faster you add this on your code than do a merge later one.

Let me know what do you prefer.

[2015-02-04 11:08] jaimeiniesta commented on #121
Ah, alright, returning the lang attribute is something to have. Go for it :)

[2015-02-07 13:17] metrue opened #122 "how the page.links.internal works, a wired thing met"
@jaimeiniesta

when I inspect some page with domain like "xxx.com", I got "xxx.net/abc" in page.links.internal.
xxx.net/abc is not internal relationship of "xxx.com", right?

[2015-02-07 22:36] jaimeiniesta commented on #122
Right, that's not the way it's supposed to work. Can you give me a concrete example of a real URL so I can reproduce the bug?

[2015-02-09 07:48] metrue commented on #122
@jaimeiniesta

sure, I met this issue when I use it in my web crawler.
I will send you the example when met it again.

[2015-02-09 09:50] jaimeiniesta commented on #122
Alright, feel free to reopen this issue when you can provide a sample URL. :+1:

[2015-02-09 09:50] #122 closed

[2015-02-21 10:53] Sameer-Tilak commented on #121
Pull request sent to you for this feature.

[2015-02-21 15:24] jaimeiniesta commented on #121
Thanks a ot @Sameer-Tilak, see the notes I left on your PR.

@samuraraujo do you want to say something about this or propose your own PR?

[2015-03-11 15:54] jvenezia opened #125 "Zlib::BufError"
This code raises an **Zlib::BufError**, for this specific url.

[code]

Is it possible to find a workaround? Or is the response is just not acceptable to be able to extract something?

Thanks

[2015-03-12 11:01] jaimeiniesta commented on #125
Thanks for the report. I confirm I get this on Ruby 2.1, this is the related exception:

http://ruby-doc.org/stdlib-2.2.0/libdoc/zlib/rdoc/Zlib/BufError.html

On Ruby 2.2, I get this instead:

TypeError: exception object expected
from /Users/jaime/.rvm/rubies/ruby-2.2.0/lib/ruby/2.2.0/net/http/response.rb:266:in `raise'

What's your Ruby version?

[2015-03-12 11:15] jaimeiniesta commented on #125
There seems to be a bug on Ruby's Net::HTTP. We need to understand this in order to find the cure, as Net:HTTP is the adapter we're using:

https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/request.rb#L56

I've tried using Excon as the adapter, and in that case the exception raised is `FaradayMiddleware::RedirectLimitReached`. But we cannot just simply replace Net::HTTP

[2015-03-12 11:26] jaimeiniesta commented on #125
Found it! It seems to be related with servers returning malformed compressed responses and Net::HTTP trying to decompress them. A better explanation can be found here:

https://github.com/lostisland/faraday/issues/337

A workaround is using these headers:

[code]

[2015-03-12 11:38] #125 closed

[2015-03-12 11:39] jaimeiniesta commented on #125
I think this is a good default header, so I've released 4.4.0 that includes this.

[2015-03-12 12:24] jvenezia commented on #125
@jaimeiniesta Awesome :) Thanks a lot for your reactivity and this awesome gem !

[2015-03-12 12:44] jaimeiniesta commented on #125
You're welcome! Thanks for catching this.

[2015-04-11 12:11] Justin-Maxwell opened #127 "MetaInspector coming up empty on some sites"
We're using the MetaInspector gem at tib.tibdit.com, I was trying out a link from ello.co, and MetaInspector comes up empty, both for us, and via metainspectordemo.

See: https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fello.co%2Fjaymax

But https://developers.facebook.com/tools/debug/og/object?q=http%3A%2F%2Fello.co%2Fjaymax produces reasonable results

Example 2.

While almost use

[2015-04-11 22:13] jaimeiniesta commented on #127
I have tried this on my development machine, and on the first requests I could see a lot of data (title, images, description, etc.) -- both running MetaInspector on irb, and from the demo app. No special headers were needed.

But then, after 4 or 5 requests to the same URL, I also got a similar response to yours, where you can see that the server is blocking the request and challenging me with [a

[2015-04-11 22:15] jaimeiniesta commented on #127
I do see a lot of information being extracted from that page, can you try again? (I updated the demo from 4.4.0 to 4.4.1).

[2015-04-11 22:29] jaimeiniesta commented on #127
I have tried to get https://ello.co/jaymax via `curl` and I also get a page saying that I'm blocked:

[code]

So, this confirms that this not a MetaInspector bug, it's just the server blocking the request.

I suggest using a more browser-like User-Agent string.

I'll close this by now, feel free to reopen if needed. Thanks for the report!

[2015-04-11 22:29] #127 closed

[2015-04-11 22:43] Justin-Maxwell commented on #127
Thanks for looking at this.

I can confirm LinkedIn works for me now via metainspectordemo.herokuapp.com

I get that 'you're blocked' ello page consistently when I force my
User-Agent to "Googlebot/2.1 (+http://www.googlebot.com/bot.html)" via
browser plugin, so it's definitely sensitive to it.

I hadn't noticed the captcha previously, but now I know where to look I'll
keep an eye out for it.

I'l

[2015-04-12 08:24] jaimeiniesta commented on #127
Cool, you can also try using a browser-like user agent string with
metainspector to avoid being blocked.

El dom, 12 de abril de 2015 00:43, Justin-Maxwell <notifications@github.com>
escribió:

[2015-04-27 10:55] borlafdev opened #128 "Disable SSL certificate validation"
Hello i'm having some problems using this gem with some https url's, Can i disable SSL certificate validation?

Ruby version = ruby-2.0.0-p598
Gem & dependencies version:
  metainspector (4.4.1)
      addressable (~> 2.3.5)
      faraday (~> 0.9.0)
      faraday-cookie_jar (~> 0.0.6)
      faraday_middleware (~> 0.9.1)
      fastimage
      nokogiri (~> 1.6)

Trace:

2015-04-27T10:46:22.077Z 19078

[2015-04-27 11:14] borlafdev commented on #128
I've disabled the ssl certification validation of  Farday succesfully in https://github.com/borlafdev/metainspector/blob/master/lib/meta_inspector/request.rb#L47 , i'm not familiar with the way gems handle user parameters, if I knew would make a pull request...

Is there any standard for gems?

[2015-04-27 21:35] jaimeiniesta commented on #128
I think that we can add a new parameter to pass options to Faraday. Something like:

[code]

This parameter would just be passed as received to Faraday.

I can work on this; can you pass me a sample URL to be able to reproduce this error?

Thanks!

[2015-04-28 09:10] borlafdev commented on #128
If you could include an option like that would be very useful.

Here is the url that causes the exeption:
https://www.gasnaturaldistribucion.com/es/quiero+gas+natural/quiero+gas+para+mi+hogar/1297131284748/solicita+tu+oferta+personalizada.html

[2015-04-28 15:30] jvenezia opened #129 "ArgumentError: invalid byte sequence in US-ASCII"
Hi there !

I get encoding errors with a website.

[code]

Any idea ?

Thanks !

[2015-04-28 15:35] jaimeiniesta commented on #129
Thanks for the report!

No idea yet but will investigate. I've seen a similar error in other projects.

[2015-04-30 10:02] jaimeiniesta commented on #129
Faraday (the gem we use to make the requests) seems to have trouble handling this URL, I've opened this issue upstream, let's continue the conversation there:

https://github.com/lostisland/faraday/issues/476

[2015-04-30 10:45] jvenezia commented on #129
Thanks @jaimeiniesta :)

[2015-04-30 11:04] jaimeiniesta commented on #129
You're welcome @jvenezia :)

I'd like to investigate more, but definitely it seems a problem related to Faraday (we should help them solve it!) - for example, I tried fetching this URL using [HTTParty](https://github.com/jnunemaker/httparty) and it went OK.

[2015-05-06 11:01] mmmmmrob opened #131 "Cleaning/Deduping URIs"
We're working on code to spot canonical URLs for pages and use them. In cases where a canonical URL isn't provided, we're also interested removing tracking elements to give us the best chance of having URLs for the same page be the same in our data.

I'm thinking about something like:

"Page.untracked_url returns the url of the page with known tracking elements, such as ?utm=, removed"

Is anyone

[2015-05-06 16:08] jaimeiniesta commented on #131
Yes, definitely support to get both the canonical and the untracked url of a page would be a good Metainspector feature.

[2015-05-12 20:13] jschwindt commented on #131
I've done that outside Metainspector but it would be a good idea to incorporate that feature. If nobody is working on it I can send a PR. @mmmmmrob/@jaimeiniesta: let me know if you want me to start working on it.

[2015-05-19 09:20] jaimeiniesta opened #134 "Move feed parsing to HeadLinksParser"
Until now this has been done by the LinksParser, but now that we have a new HeadLinksParser, it's a better place for this.

[2015-05-19 09:50] #134 closed

[2015-05-19 09:56] jaimeiniesta opened #135 "Unrelativize image URLs"
On the Links parser, we ensure each URL found is absolutified and unrelativized:

https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/parsers/links.rb#L17

On the Images parser we're currently absolutifying the image URLs, but we're not unrelativizing them:

https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/parsers/images.rb#L39

We should do thi

[2015-05-19 10:00] jaimeiniesta opened #136 "Absolutify and unrelativize head links"
As commented on https://github.com/jaimeiniesta/metainspector/pull/132#issuecomment-103422390

[2015-05-28 18:37] jschwindt commented on #136
@jaimeiniesta/@mmmmmrob: I have some time these days, do you want me to work on this? I'd need 4.5 to be released ;-)

[2015-05-28 19:02] jaimeiniesta commented on #136
OK for me, unless @mmmmmrob prefers to do that himself.

Anyway @jschwindt you don't need to wait for the release, you can install the gem directly from github, the features are already merged in master:

http://bundler.io/git.html

[2015-05-29 01:44] jschwindt commented on #136
I've just added another commit to my PR that solves this ticket!

[2015-05-29 10:45] jaimeiniesta commented on #136
Closed via https://github.com/jaimeiniesta/metainspector/commit/e0b3808a3de1516bef04a22499652a2ab480911c

[2015-05-29 10:45] #136 closed

[2015-05-29 10:45] jaimeiniesta commented on #135
Proved unnecessary by https://github.com/jaimeiniesta/metainspector/commit/8817805d2fab678022c0071bb705f32c55152281

[2015-05-29 10:45] #135 closed

[2015-05-29 10:47] jaimeiniesta commented on #90
Closing this, already implemented.

[2015-05-29 10:47] #90 closed

[2015-05-29 11:13] jaimeiniesta commented on #131
Now that we can get the canonical links and tracking parameters, is there anything more to be added regarding this issue or should we close it by now?

[2015-06-11 07:22] #128 closed

[2015-06-11 07:26] jaimeiniesta commented on #128
I just released 4.6.0 that implements this:

https://github.com/jaimeiniesta/metainspector#disabling-ssl-verification-or-any-other-faraday-options

Thanks!

[2015-07-02 18:02] jaimeiniesta commented on #131
@mmmmmrob ping :)

[2015-07-06 20:01] Justin-Maxwell opened #139 "Junk (script code) being pulled in with the description"
Hi again.

This is due, primarily, to improbable placement of script on the source page, or perhaps by the associated button; but it would be good if it was filtered.

See https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fiamsatoshi.com

And then inspect the description element's raw content.  I get:

[code]

The source site has:

[code]

Note the use of

      <![CDATA[

at the star

[2015-07-06 20:50] jaimeiniesta commented on #139
OK, for the description we take the meta description tag if it's present, and if it's not, as in this case, we take the contents of the first long paragraph:

https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/parsers/texts.rb#L20-L22

In this case, this long paragraph has these contents:

[code]

And this is exactly what MetaInspector is returning.

In my opinion, MetaIn

[2015-07-06 20:50] #139 closed

[2015-07-13 12:48] Justin-Maxwell commented on #139
I'm told that the metainspector demo herokuapp seems to substitute HTML comment open/close for the script open/close tags?  We've adopted that behaviour.  On reflection, I agree that the gem should not modify the content.

Cheers,
  --J

[2015-07-14 15:15] nivla opened #141 "get size of best image"
Hi,
I want to get the width and height of the best image, there is a way to get it?

thanks beforehand.

[2015-07-15 00:32] jaimeiniesta commented on #141
You need to use both `page.images.best` to get the URL of the best image, and then look for its dimensions on `page.images.with_size`.

But, currently `page.images.with_size` does not include `page.images.best` in the case the best image comes from an owner suggestion. So you might not find it there.

I'll open a separate issue to improve this.

Thanks!

[2015-07-15 00:32] #141 closed

[2015-07-15 00:36] jaimeiniesta opened #142 "page.images should include page.owner_suggested"
As talked on #141 it's weird that the `page.images` collection does not include `page.images.best`, in the case that this image comes from `page.images.owner_suggested`.

A more general solution would be to include both `meta['og:image']` and `meta['twitter:image']`.

[2015-07-15 00:52] jaimeiniesta commented on #142
On a second thought I prefer to not include the owner-suggested images on the main `page.images` collection as they're of a different nature, meta tags (just URL) VS image tags (with width and height).

[2015-07-15 00:52] #142 closed

[2015-07-15 00:55] jaimeiniesta commented on #141
This is the best solution that we have now, you can use the [FastImage](https://github.com/sdsykes/fastimage) gem to get the size of the best image. As this image can come from a meta tag, there's no width/height resolution on the HTML so you need to use this library.

[code]

[2015-07-15 00:57] jaimeiniesta commented on #141
Also, there's no need to separately install FastImage, it's already a dependency of MetaInspector.

[2015-07-15 12:15] nivla commented on #141
Thanks. That solution works great :dancer:

[2015-07-22 14:27] MichaelSid opened #143 "faraday caching?"
Hi,

I see that there are some faraday options included, but I can't find a way to add Faraday http caching to the MetaInspector call.

I need this to reduce the response time for subsequent calls on the same url.

Thanks,
Michael

[2015-07-22 15:28] jaimeiniesta commented on #143
Hi,

We do the http request on initialize, that is:

[code]

That being said, if you want to add support for cache that would persist between different initializations, I'll welcome a pull request :)

It looks like the [Faraday Http Cache](https://github.com/plataformatec/faraday-http-cache) could be easily integrated, as we're already passing [faraday options](https://github.com/jaimeiniesta/meta

[2015-08-31 20:10] jaimeiniesta opened #144 "Bug getting links"
On metainspector 4.6.0:

[code]

[2015-08-31 20:14] jaimeiniesta commented on #144
Also happens on:

http://www.monartozoo.com.au
http://www.essentialbeauty.com.au
http://www.atomix.com.au

[2015-08-31 21:10] #144 closed

[2015-08-31 21:11] jaimeiniesta commented on #144
All of these sites had in common a malformed href, `http://#` that we had problems handling. This has been fixed and released as 4.6.1.

[2015-09-04 00:55] chutterbox opened #145 "Addressable::URI::InvalidURIError: Absolute URI missing hierarchical segment: 'http://'"
to reproduce:
https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fcen.acs.org%2Farticles%2F93%2Fi35%2FFirst-Metal-Organic-Framework-Made.html

(url is: http://cen.acs.org/articles/93/i35/First-Metal-Organic-Framework-Made.html)

not sure if this is related to #78

[2015-09-08 15:02] jaimeiniesta commented on #145
Thanks for the report, this was recently fixed on 4.6.1 (but I had not updated the demo server, it's done now).

Duplicate of #144

The reason for the exception was this line on the source of that page, look at the href value:

[code]

[2015-09-08 15:02] #145 closed

[2015-09-08 19:06] chutterbox commented on #145
Awesome, thank you. This is a great gem, thanks a lot for the reply!

[2015-09-22 17:00] jaimeiniesta commented on #143
@MichaelSid can you take a look at this PR? https://github.com/jaimeiniesta/metainspector/pull/146

This PR implements the Faraday HTTP Cache, but we're not sure if this feature is worth adding, as it just caches the page content, but not the request, that is, the DNS and TCP request phase is still performed.

[2015-09-28 16:32] MichaelSid commented on #143
Hi @jaimeiniesta @jschwindt

Great I'll check it out ASAP and get back to you, thanks. Looking at the PR, it looks very similar to the PR I was working on - I guess I was beaten to it :)

Anyway correct me if I'm wrong but, isn't it a good thing that it still performs the request again, so it can check if the contents have been modified? So there's no risk of repeatedly serving an outdated page?

[2015-09-29 10:56] jaimeiniesta commented on #143
@MichaelSid I think it depends on the use case, you might want to have a complete cache (including the request) so that, say, requests to the same URL within 1 minute are handled by the cache.

[2015-10-21 01:30] jaimeiniesta commented on #143
Faraday::HttpCache support released in 4.7.0, thanks!

[2015-10-21 01:30] #143 closed

[2015-10-21 01:33] jaimeiniesta commented on #131
@mmmmmrob I'm closing this, please reopen if there's anything else you want to add.

[2015-10-21 01:33] #131 closed

[2015-10-22 17:40] dentarg opened #148 "Bug(?) when application/rss+xml content, warn_level: :store and html_content_only: true"
With `warn_level: :store` and `html_content_only: true`, we get a cryptic error message

[code]

Yeah, I know what the README says :-)

So maybe I'm on my own here? Or do you consider it a bug in MetaInspector?

Some additional info:

Removing `html_content_only: true`, we get empty array

[code]

Removing `warn_level: :store`, we get a nice error message

[code]

[2015-10-22 19:38] jaimeiniesta commented on #148
Thanks for reporting this!

First of all, be warned that MetaInspector is aimed at parsing HTML documents, not RSS or XML documents. It will, however, be able to extract [some of the info from there](http://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fmicro.dentarg.net%2Frss), but for things like `links.external` it will not find any, just because that RSS has no `<a>` tag.

So, this is

[2015-10-22 19:51] dentarg commented on #148
Thanks!

To be clear, I don't know if the URL I pass to MetaInspector is a HTML document, RSS document, or something else. I'm perfectly fine with getting back `[]` :)

[2015-10-22 20:13] #148 closed

[2015-10-22 20:26] jaimeiniesta commented on #148
I thought so, in fact the `html_content_only` option is because of this, when you're spidering you never know what each link is going to return.

I've fixed that, but please read the updated explanation about [Exception handling](https://github.com/jaimeiniesta/metainspector#exception-handling).

The thing is that the `html_content_only` check was done in a lazy way, that is, if you just initializ

[2015-10-22 20:36] dentarg commented on #148
That's exactly what we do, so the fix will work perfectly.

Thanks for the fix and the rapid response :)

[2015-10-22 20:37] jaimeiniesta commented on #148
Thanks for catching and reporting this! :+1:

[2015-10-23 09:19] dentarg opened #149 "Faraday::SSLError: hostname does not match the server certificate with warn_level: :store"
With `warn_level: :store`, I don't think this should happen, right?

[code]

Additional info:

[code]

[code]

[2015-10-23 09:20] jaimeiniesta commented on #149
You found a similar issue there! I'll take a look as soon as I can.

[2015-10-23 14:33] dentarg commented on #149
Here's another one, same type of exception, but different cause: "certificate verify failed"

[code]

[code]

[code]

[2015-10-23 15:43] jaimeiniesta commented on #149
Thank you! We were not considering the `Faraday::SSLError` exception.

Fixed and released on 4.7.2

[2015-10-23 15:43] #149 closed

[2015-10-23 17:33] dentarg commented on #149
Thanks :) :+1:

[2015-11-01 22:27] dentarg opened #150 "warn_level: :store and links.external bug (invalid byte sequence in UTF-8)"
[code]

but

[code]

works without exceptions though. I saved the output from `.links` in pry [in a gist](https://gist.githubusercontent.com/dentarg/dc50d64bdaa35dd112cf/raw/6a265577526285dbbe09c860d4d953ceedba517a/metainspector_issue.txt), maybe it could be useful (I haven't looked more closely on what's causing this).

Should  `warn_level: :store` be able to store this? Maybe putting `ArgumentEr

[2015-11-02 09:19] jaimeiniesta commented on #150
This is failing because one of the links in this page has an invalid byte sequence:

`http://element�wgarderoby.com/`

Now, yes, this should be properly handled by the ExceptionLog. Will fix it.

[2015-11-02 10:12] dentarg commented on #150
:sparkling_heart:

[2015-11-11 12:31] dentarg opened #151 "warn_level: :store need to rescue IDN::Idna::IdnaError"
This is when using native IDN support (see https://github.com/sporkmonger/addressable/blob/master/lib/addressable/idna.rb)

[code]

Addressable is used at https://github.com/jaimeiniesta/metainspector/blob/fda1ba663fb5ac8f2abe7cd8d8526f38ca3d05b0/lib/meta_inspector/url.rb#L87

The problematic "URL" from that page

[code]

[code]

The pure Ruby IDNA implementation doesn't have a problem here ([but

[2015-11-14 22:21] jaimeiniesta opened #154 "Let's remove the ExceptionLog"
I'm thinking about removing completely the `ExceptionLog` on MetaInspector 5.0, and also the `warn_level` options, and instead let the exceptions be raised as they happen.

If we read the [README about exceptions](https://github.com/jaimeiniesta/metainspector#exception-handling) we see that we're advising not to use it, so let's be more opinionated and remove it completely.

I think this will lead

[2015-11-14 22:33] jaimeiniesta commented on #154
If we remove the ExceptionLog, I think we could:

a) Just have the exceptions raise as they happen. And document thoroughly what are the typical exceptions you can encounter: `Faraday::TimeoutError, Faraday::Error::ConnectionFailed, Faraday::SSLError, URI::InvalidURIError`... or

b) Simplify this and encapsulate those exceptions into our own generic MetaInspector exceptions, which would be basical

[2015-11-14 22:41] jaimeiniesta commented on #154
Related conversation, this is when we introduced the ExceptionLog (although we already warned against its use and preferred to raise exceptions as they happen) https://github.com/jaimeiniesta/metainspector/issues/49

[2015-11-14 22:43] jaimeiniesta commented on #154
What do you think @dentarg @jschwindt @mmmmmrob @gustavoguimaraes @hokaccha @gabceb @settinghead @oriolgual ?

[2015-11-14 22:52] jaimeiniesta commented on #154
Another point is what good is having an `ExceptionLog` **inside** MetaInspector that only serves to catch and store any exception, if you could do that **outside** MetaInspector?

[code]

This is simpler than having to check constantly for `page.ok`, and gives you more power than simply having the exceptions stored somewhere, for example you might want to treat in a different way the different kin

[2015-11-15 17:45] dentarg commented on #154
Just a quick response: I would prefer b), because it sounds easier to act on as user of MetaInspector.

I hope to get some time next week to think/write some more here.

[2015-11-15 17:58] dentarg commented on #154
I'm wondering... is MetaInspector going to continue to list known exceptions that can happen, which would be great, because then I don't have to do that work, or are MetaInspector going to give up on that too? (Sounds like the later in https://github.com/jaimeiniesta/metainspector/pull/153#issuecomment-156751387)

[2015-11-16 01:31] jaimeiniesta commented on #154
Yes, I prefer option b) as well, it will be easier to handle from the outside.

We're going to continue listing known exceptions.

[2015-11-16 01:45] jschwindt commented on #154
In my case it would be enough to know if the whole process succeeded (request + parse) so any of both solutions would be ok. If I had to vote I'd choose b) because it's simpler for the user that doesn't have to know the inner details of the gem.

[2015-11-16 02:29] jaimeiniesta commented on #154
Yes, this is what I'm working on, we can abstract all those exceptions into 2 or 3 generic errors and still have all the details, like this:

[code]

[2015-11-16 03:12] jaimeiniesta commented on #154
I've started working on this: https://github.com/jaimeiniesta/metainspector/pull/155/files

[2015-11-17 15:29] dentarg commented on #154
:+1:

Great, I will continue report them/add PRs with them. :)

[2015-11-18 09:10] dentarg commented on #154
I guess this will also solve problems like this, where `@exception_log` is nil for some reason (threading issues? we use [bunny](https://github.com/ruby-amqp/bunny) in our app)

[code]

Around metainspector-4.7.2/lib/meta_inspector/url.rb:88

[code]

[2015-11-18 09:38] jaimeiniesta commented on #154
@dentarg sure!

[2015-11-18 23:41] jaimeiniesta commented on #154
I've removed the ExceptionLog, on a temporary 5-0-0 branch that will soon be merged into master:

https://github.com/jaimeiniesta/metainspector/tree/5-0-0

Please give it a try!

[2015-11-18 23:45] jaimeiniesta commented on #154
I've released this as 5.0.0.rc1

[2015-11-19 11:52] mrjcleaver opened #156 "Can metainspector login?"
Hi - is it possible to provide credentials so metainspector can traverse sites protected by a password?

Thanks, Martin.

[2015-11-19 13:49] jaimeiniesta commented on #156
Not currently, but this is an interesting feature that could be added -- and already supported by Faraday, which is what we use to perform the requests.

[2015-11-19 18:58] mrjcleaver commented on #156
Interesting, thanks.

Okay, then I guess I would like to be able to register a set of sites, together with their credentials and maybe - ultimately - the path to logging in - so that at an API level I can just say site.login('sitename.whatever.com') and have it login and remain logged in.

[2015-11-19 20:24] jaimeiniesta commented on #156
User login can take many different forms, from HTTP Basic authentication, to login through a form with username / password, email / password, or any other combination. Not to mention OAuth and many others...

I think that trying to cover all these kinds of authentication is out of the scope of MetaInspector, I would welcome support for simple authentications like HTTP Basic, but supporting generic

[2015-11-20 19:25] mrjcleaver commented on #156
How about something using like https://github.com/intridea/omniauth/wiki ?

[2015-11-20 23:16] jaimeiniesta commented on #156
Omniauth helps in authenticating using different strategies, for example with external services like Twitter, LinkedIn, Github, etc. But it won't allow you to automate the typical form-based login, where you need to simulate a browser going to a given URL and fill in a form.

[2015-11-21 16:30] mrjcleaver commented on #156
Ah, I see; thanks.

So we'd need something that generalized http://crabonature.pl/posts/23-automation-with-mechanize-and-ruby ?

[2015-11-26 18:33] andiruleu opened #159 "Amazon scraping error?"
I'm testing out the demo, and its returning internal server error. Does it not scrape Amazon links?

[2015-11-26 19:54] jaimeiniesta commented on #159
It should scrape them. Please give me a sample URL to test.

[2015-11-26 20:14] andiruleu commented on #159
Its interesting... I was getting internal server error, and now its scraping it, but its scraping captcha letters: https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fproduct%2FB00VFVUAMQ I've tested with other amazon products too, all the same.

[2015-11-26 21:42] jaimeiniesta commented on #159
That's interesting!

I can scrape it correctly from my development computer:

[code]

I guess that what's happening is that Amazon is doing some checks, probably based on the IP address. As the demo is on a Heroku server, Amazon might think that it's an automated script (and that's exactly what it is!), and returning a "Robot check" page in front.

So, in short, MetaInspector works, but what it's

[2015-11-27 00:09] andiruleu commented on #159
That is pretty interesting... you may be right! I am testing on a localhost:3000 also...!

[2015-12-02 15:33] haniqassim opened #160 "JavaScript Redirects"
I'm trying to scrape pages from this news site in Arabic:
http://www.alarabiya.net/ar/arab-and-world/2015/12/02/-%D9%84%D8%A7%D9%81%D8%B1%D9%88%D9%81-%D9%8A%D9%88%D8%A7%D9%81%D9%82-%D8%B9%D9%84%D9%89-%D9%84%D9%82%D8%A7%D8%A1-%D9%86%D8%B8%D9%8A%D8%B1%D9%87-%D8%A7%D9%84%D8%AA%D8%B1%D9%83%D9%8A-%D9%81%D9%8A-%D8%A8%D9%84%D8%BA%D8%B1%D8%A7%D8%AF.html

I couldn't get anything from it.  When I curl to it

[2015-12-02 16:48] gabceb commented on #160
Executing Javascript is not possible in metainspector since all we get is the response from the server as text (note the server redirects does work because the response is to follow the redirect)

To be able to execute javascript you'll need a headless browser like PhantomJS that will indeed contact the server and execute the javascript on it like regular browsers do.

[2015-12-03 03:22] #159 closed

[2015-12-04 05:25] andiruleu opened #161 "Scraping Amazon Image Data, there's 1 image with long image src"
Hello!
I have an app where I can display amazon images, but there's always an image where the src is super long, per the attached image.

I was wondering if there's a way to remove this specific image? I want it removed because users are allowed to choose the images they want to save, and if the user chooses an image with this src, it doesn't have the proper image url where we can display it in ou

[2015-12-04 06:41] gabceb commented on #161
Hi!

The src of the image you are looking at is the actual image content base64 enconded. This technique is used to avoid downloading files for things you would like to display w/o making another request to get the content.

You should be able to detect (and remove) this image by using a simple regex that will looks for 'data:image' on the images array. Im also pretty sure your app framework/progr

[2015-12-08 04:00] andiruleu commented on #161
hmmm, I'm no expert at this, but do you think you can start me off with this? Where would I put the simple regex?

I have this in my controller:

    def gear_link_meta
      meta_tags = MetaInspector.new(params[:link])
      @images = meta_tags.try(:images) if meta_tags.present?
    end

Thanks!

[2015-12-11 05:47] andiruleu opened #162 "Is scraping prices possible?"
This maybe wishful thinking... but I was wondering if its possible to scrape product pages and their prices?

[2015-12-11 11:38] jaimeiniesta commented on #162
It's possible, but it's something too specific that MetaInspector won't deal with.

You can craft your own solution using nokogiri or something like http://felipecsl.com/wombat/

[2015-12-11 11:38] #162 closed

[2015-12-18 16:29] oyeanuj opened #163 "Scrape content from links?"
Thank you @jaimeiniesta for the library! Wondering if metainspector has options to or if it possible to include some options to scrape text content of off a webpage as well and make it accessible as a text field in the hash.

I am aware that at that point, it becomes more than meta, and more of an extract api but helps towards the same goal.

Comparison of a random url using metainspector and Embe

[2015-12-27 01:37] jaimeiniesta opened #165 "Non-HTTP URL should raise a MetaInspector::RequestError"
Example at 5.0.0:

https://metainspectordemo.herokuapp.com/scrape?url=ftp%3A%2F%2Fftp.cdrom.com

[2015-12-27 01:39] jaimeiniesta commented on #163
This is not currently possible but it would be certainly an interesting feature to have.

[2015-12-27 01:39] #163 closed

[2015-12-27 01:41] #160 closed

[2015-12-27 01:44] jaimeiniesta commented on #156
Exactly, but I see this more like a task for an application, rather than something like a gem like ours could do.

I'll close the issue as I don't see this is a fit for MetaInspector, but feel free to reopen if you have any concrete idea or, better, a pull request! :)

[2015-12-27 01:44] #156 closed

[2015-12-27 01:44] jaimeiniesta commented on #154
Just released 5.0.0, it's official, we don't have an ExceptionLog anymore :)

[2015-12-27 01:44] #154 closed

[2015-12-27 01:46] jaimeiniesta commented on #151
Can you try this with 5.0.0 and see how it goes? It should raise a `MetaInspector::RequestError`.

[2015-12-27 01:46] jaimeiniesta commented on #150
Can you try this with 5.0.0 and see how it goes? It should raise a `MetaInspector::ParserError`.

[2015-12-27 01:47] robguilfoyle commented on #154
@jaimeiniesta, @dentarg, @jschwindt great job gentlemen on the release! I wish I had more time to contribute to this repo!

[2015-12-27 01:47] jaimeiniesta commented on #121
Closing this due to inactivity.

[2015-12-27 01:47] #121 closed

[2015-12-27 01:48] jaimeiniesta commented on #78
As of 5.0.0 we don't have a logger anymore, closing this.

[2015-12-27 01:48] #78 closed

[2015-12-27 01:49] jaimeiniesta commented on #161
Closing this as it's not a MetaInspector issue.

[2015-12-27 01:49] #161 closed

[2015-12-27 02:16] #165 closed

[2016-01-06 09:47] mib32 opened #166 "base64 support"
If you'll try to open specific page that has base64 image in it:

[code]

You will get an error:

[code]

This is because MetaInspector is not taking base64 images into consideration. Do you have any options or plans to support that? Do you think that it is needed feature?

[2016-01-11 15:50] abdelhady opened #167 "Can't read some Arabic articles"
Metainspector can't read title/description of [this article](http://klmty.net/476092-%D8%A8%D8%A7%D9%84%D9%81%D9%8A%D8%AF%D9%8A%D9%88____%D9%85%D8%B5%D8%B7%D9%81%D9%89_%D8%A8%D9%83%D8%B1%D9%8A____%D8%A7%D9%86%D8%AA%D8%AE%D8%A7%D8%A8%D8%A7%D8%AA_%D8%A7%D9%84%D8%A7%D8%A6%D8%AA%D9%84%D8%A7%D9%81_%D8%BA%D9%8A%D8%B1_%D9%86%D8%B2%D9%8A%D9%87%D8%A9_%D9%88%D9%85%D9%88%D8%AC%D9%87%D8%A9_%D9%84%D9%81%D9%88%

[2016-01-22 11:25] trotzig opened #168 "Garbled descriptions returned when scraping JPG urls"
I'm trying to figure out why scraping image URLs sometimes results in garbled descriptions. These for example:
https://cnngps.files.wordpress.com/2011/12/putin.jpg
https://shechive.files.wordpress.com/2016/01/these-skyline-rings-will-help-you-declare-your-love-for-cities-all-around-the-world-4.jpg

For some reason, this image is okay (no description returned):
http://i2.cdn.turner.com/cnn/dam/asse

[2016-01-22 11:27] jaimeiniesta commented on #168
It makes no sense to scrape an image, MetaInspector is aimed at scraping HTML only.

[2016-01-22 11:35] trotzig commented on #168
Yeah, i just saw the part about `html_content_only` in the docs.
https://github.com/jaimeiniesta/metainspector#html-content-only

I ended up here because we use MetaInspector to scrape whatever URLs people add when writing comments. And sometimes those are in fact images. While I agree that we could probably avoid scraping if we think it's an image, wouldn't it make sense for MetaInspector to do s

[2016-01-22 11:35] trotzig commented on #168
Thanks for the quick reply by the way!

[2016-01-22 11:41] jaimeiniesta commented on #168
Ah, thanks for the explanation!

Yes, we should probably change this default, let me think about it (or submit a PR if you wish).

[2016-01-22 11:48] trotzig commented on #168
I'll give it a try.

[2016-01-22 11:58] jaimeiniesta commented on #168
Cool :)

I've just updated the demo so it raises an exception when the returned content is not HTML.

Your opinion here as a user of MetaInspector is really valuable, let me know what you think we should do with this option. Should we enable it by default? Or maybe completely remove it so it's no longer an option?

[2016-01-22 13:39] trotzig commented on #168
It's tricky, I understand that. The commit I made fixes things for images, but other content types aren't handled. It would be a pain to add exceptions in the code for all different kinds. I wonder if a whitelist of some sort can be used, and then users can override that whitelist? By default it could be

[code]

Any content type not in this list would result in an error thrown.

[2016-01-27 11:34] mib32 opened #170 "Script tags inside titles"
If we try to fetch `best_title` from that url: http://www.fivefingertees.com/dont-hassle-me-im-local-t-shirt.html it gives title as
[code]

[2016-02-01 11:03] jaimeiniesta commented on #168
Closing this as on [this PR discussion](https://github.com/jaimeiniesta/metainspector/pull/169) we've seen this is not a bug, but a feature :)

[2016-02-01 11:03] #168 closed

[2016-02-01 11:04] jaimeiniesta commented on #167
Thanks for the report, that's [verified](https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fklmty.net%2F476092-%25D8%25A8%25D8%25A7%25D9%2584%25D9%2581%25D9%258A%25D8%25AF%25D9%258A%25D9%2588____%25D9%2585%25D8%25B5%25D8%25B7%25D9%2581%25D9%2589_%25D8%25A8%25D9%2583%25D8%25B1%25D9%258A____%25D8%25A7%25D9%2586%25D8%25AA%25D8%25AE%25D8%25A7%25D8%25A8%25D8%25A7%25D8%25AA_%25D8%25A7%25D9%

[2016-02-01 11:09] jaimeiniesta commented on #166
Thanks for the report @mib32 but I couldn't reproduce this, it works on my machine and also on the demo server:

https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fproduct%2FB0107H5FJ6%2Fref%3Ds9_simh_gw_g107_i3_r%3Fpf_rd_m%3DATVPDKIKX0DER%26pf_rd_s%3Ddesktop-1%26pf_rd_r%3D1DSA92Q4PADKNTZBWAZY%26pf_rd_t%3D36701%26pf_rd_p%3D2079475242

I get http://g-ecx.images-am

[2016-02-01 11:11] jaimeiniesta commented on #151
Tried this with MetaInspector 5.0.1, and it doesn't fail:

https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fblogs.channel4.com%2Ffactcheck%2Ffact-check-43-eu-migrants-claim-benefits%2F21964

Closing this, feel free to reopen if needed.

Thanks for the report!

[2016-02-01 11:11] #151 closed

[2016-02-01 11:12] jaimeiniesta commented on #150
It keeps failing on 5.0.1, needs some love:

https://metainspectordemo.herokuapp.com/scrape?url=https%3A%2F%2Flanoralemos.wordpress.com

[2016-02-01 11:13] jaimeiniesta commented on #129
It keeps failing in 5.0.1, needs some love:

http://www.lemagit.fr/actualites/4500244568/SentinelOne-mise-sur-le-poste-de-travail-pour-detecter-les-attaques?asrc=EM_MDN_42264256&utm_medium=EM&utm_source=MDN&utm_campaign=20150428_SearchSecurity.fr%20:%20toute%20l%27information%20S%e9curit%e9%20-%20Avril%202015_

[2016-02-01 11:44] jaimeiniesta opened #172 "Turn :html_content_only on by default and deprecate it"
As talked in https://github.com/jaimeiniesta/metainspector/pull/169 we're going to deprecate the `html_content_only` attribute. So in 5.1 we want to:

- [x] Make the `html_content_only` option enabled by default.
- [x] Show a deprecation notice if this option is used, warning that it will be removed in 5.2

[2016-02-01 11:46] jaimeiniesta opened #173 "Remove :html_content_only option"
After #172 is merged, targetting 5.2 we're going to:

- [x] Remove the `html_content_only` option.
- [x] Add a new `allow_non_html_content` option, `false` by default, which if enabled will bypass the raising of an exception in non-HTML documents.

[2016-02-09 21:06] dentarg commented on #150
@jaimeiniesta I'm sorry, but we ended up taking the `rescue` route with MetaInspector for now (see code snippet below), so until that changes, I'm afraid I will be less active on the issues here.

[code]

[2016-02-19 16:06] norbertbilbeny opened #175 "Is there a Javascript equivalent?"
I'm new to github and coding so I almost certainly don't know what I'm talking about but is there a Javascript equivalent of metainspector? I want to retrieve website's title and institutional name from within the browser but not within the domain. For example, I want to, from my site mysite.com, allow users to input a URL, say

http://www.ft.com/cms/s/2/c2e6b93c-d4fe-11e5-8887-98e7feb46f27.html#s

[2016-02-19 16:07] norbertbilbeny commented on #175
Note it must be done from the browser. Server code would not help.

[2016-02-19 16:16] gabceb commented on #175
Here is the js equivalent I created https://github.com/gabceb/node-metainspector

Note that doing it from the browser wont work since you'll be blocked by CORS on most sites. Feel free to open issues on the appropiate repo if you have more questions.

[2016-02-19 16:56] norbertbilbeny commented on #175
Thanks. Unfortunately it must be from the browser. Server could would not help. An API that does the basics of what citethisforme.com does would work for example. Perhaps there are other solutions too. Any ideas appreciated.

[2016-02-19 18:17] gabceb commented on #175
As said before, you won't be able to do it directly from the browser due to CORS. This is a security feature that, believe me, we all want otherwise you'll have random sites you visit making AJAX requests to a page you are logged-in and downloading all your personal information (banks, email providers, etc) since you probably have a cookie that keeps you logged-in.

What citethisforme.com does is

[2016-02-19 18:45] norbertbilbeny commented on #175
Thanks.

It's pretty remarkable that there are functioning APIs, and have been for years, of book metadata https://www.googleapis.com/books/v1/volumes?q=isbn:0195112768

and academic articles metadata
https://api.crossref.org/works/10.1002/mnfr.200700180

but nothing on websites; not even for the title.

[2016-02-19 18:49] norbertbilbeny commented on #175
It would probably take Google seven minutes to build one.

[2016-02-23 12:25] ronniekessler opened #176 "Dependency issue with addressable gem"
Tried to add metainspector v 5.0 and got the following Bundler issue.

Bundler could not find compatible versions for gem "addressable":
  In Gemfile:
    capybara (~> 2.6) was resolved to 2.6.2, which depends on
      addressable

    capybara (~> 2.6) was resolved to 2.6.2, which depends on
      addressable

**    metainspector (>= 5.0.1, ~> 5.0) was resolved to 5.0.1, which depends on
      fa

[2016-02-24 09:18] jaimeiniesta commented on #176
Thanks @ronniekessler -- the blocker here was fastimage 1.9.0, that sets a dependency on addressable ~> 2.3.5 but we need ~> 2.4

I've updated the dependency on fastimage to ~>1.8.1 which will set us behind 1.9.0, in this version they allow addressable 2.4.

This has been released on metainspector 5.0.2 - please try it out!

I'll leave this issue open as a reminder to help the fastimage team to up

[2016-02-25 08:59] ronniekessler commented on #176
Sure, I will test this over the next few days.

On 24 February 2016 at 20:18, Jaime Iniesta <notifications@github.com>
wrote:

--
Ronnie Kessler
rlkessler@gmail.com | +61 403 066607 | au.linkedin.com/in/ronniekessler

[2016-02-29 11:00] #167 closed

[2016-02-29 11:03] #175 closed

[2016-03-01 09:43] jaimeiniesta commented on #172
Done, released 5.1.0.

[2016-03-01 09:43] #172 closed

[2016-04-12 15:22] #150 closed

[2016-04-21 10:35] #173 closed

[2016-06-11 01:49] kivvii opened #181 "Url with og:description set returns incorrect description"
For the url http://winsupersite.com/windows-10/prevent-windows-10-upgrade-installing-after-making-your-reservation there is a valid `og:description`:

[code]

but fetching `description` returns a chunk of javascript:

[code]

[2016-06-13 14:46] jschwindt commented on #181
There is no meta description header, so it's trying to take incorrectly the first paragraph. I think we should create a method `best_desciption` similar to `best_title`, so we can prioritize "og:description".

[2016-06-14 13:40] jaimeiniesta commented on #181
@kivvii thanks for submitting this issue, there is clearly a bug because `description` should be returning currently the `meta name="description"` tag and, if not available as in this case, it should the first paragraph which is at least 120 characters. But it's getting a script from the head instead, we need to investigate why and fix that.

@jschwindt I agree, we can make `description` return on

[2016-06-26 14:32] fschwahn opened #182 "Outdated documentation regarding timeouts"
I think the documentation regarding timeouts/retries (https://github.com/jaimeiniesta/metainspector#timeout--retries) is outdated. It talks about catching `Faraday::TimeoutError`, however in the code this exception is catched and wrapped with a `MetaInspector::TimeoutError`. So the example should reflect this change - I briefly looked at the history, and looks like this part of the README predates

[2016-06-26 21:32] jaimeiniesta commented on #182
Thanks @fschwahn, you're right, we recently changed this part and forgot to update the README about that. Will do.

[2016-06-27 11:33] #182 closed

[2016-06-27 11:33] jaimeiniesta commented on #182
Fixed, thanks @fschwahn :)

[2016-06-27 11:37] fschwahn commented on #182
Thanks for fixing it! :)

[2016-07-01 08:17] AbraarAriquePro opened #184 "How does the MetaInspector Demo (https://metainspectordemo.herokuapp.com) scrape Amazon.com URL?"
I have used MetaInspector for scraping Amazon.com product pages in order to gather some basic data such as product title, price, and image. It works fine on my local machine, however, when I deploy the app to Heroku Amazon gives me a "Robot Check" page instead of the actual product page.

When I tried the same URL in your MetaInspector Demo https://metainspectordemo.herokuapp.com it was able to su

[2016-07-01 08:55] jaimeiniesta commented on #184
Sure, here's the code:

https://github.com/jaimeiniesta/metainspectordemo

[2016-07-01 08:55] #184 closed

[2016-08-11 17:16] tak1n opened #187 "ArgumentError: invalid byte sequence in UTF-8"
Backtrace:

[code]

Reproducable with:

[code]

I think the best bet would be to allow a already parsed Nokogiri document as argument for `MetaInspector.new`, otherwise if there is no way to inject a custom document or preprocess the html somehow MetaInspector has to deal with all those things (I think this can get really annoying).

If it is a desired option to allow an nokogiri document or html

[2016-08-11 17:18] tak1n commented on #187
Whoops totally missed it:

[code]

Sorry for the noise

[2016-08-11 17:18] #187 closed

[2016-08-12 09:37] jaimeiniesta commented on #176
We upgraded to the latest fastimage and addressable versions in https://github.com/jaimeiniesta/metainspector/commit/4f5590081c6afc88639de1a389d02d1d9c806336 but forgot to close this issue. Done!

[2016-08-12 09:37] #176 closed

[2016-08-25 20:53] lepek opened #188 "Request stalls making a request to a URL that streams content"
Example:
[code]
I have searched in MetaInspector, Faraday and Net::HTTP a way to limit the amount if time a request can be open/reading data but I couldn't find a way. Am I missing something here?
One approach would be to make a HEAD request and decide by the content-type if the URL is HTML or not. But that would mean making two request to the URL and I don't like it.
Another way is to wrap the pr

[2016-08-27 13:22] tchret opened #189 "RequestError on existing url"
[code]

@jaimeiniesta: otherwise, ❤️ this gem

[2016-08-27 13:31] tchret commented on #189
also:
[code]

[2016-08-27 22:08] jaimeiniesta commented on #188
Thanks @lepek, that's an interesting problem. In this case the URL corresponds to a streaming audio file, so MetaInspector has nothing to do with it as it's not HTML, but I understand that you've stumbled into that when crawling a site?

Anyway, our only timeouts are the ones [explained here](https://github.com/jaimeiniesta/metainspector#timeout--retries) but none of them can save us from being st

[2016-08-27 22:31] jaimeiniesta commented on #188
I've found that with Faraday, I can get an empty response from that URL, and it doesn't get stuck:

[code]

But, if I use it from MetaInspector, it gets stuck. Unless we disable redirections, like this:

[code]

Of course, we don't want to disable redirections globally, so this is not a solution, just a hint at what can be happening here. I'll keep you posted.

[2016-08-27 22:39] jaimeiniesta commented on #188
Example of Faraday getting stuck:

[code]

Strangely, it doesn't get stuck if we don't use the `faraday.adapter :net_http` line - but this is the default adapter, shouldn't be needed.

[2016-08-27 22:53] jaimeiniesta commented on #188
Opened an issue upstream - https://github.com/lostisland/faraday/issues/602

If we don't come with a solution for that, I'll put the request inside a Timeout as said before.

[2016-08-27 22:56] jaimeiniesta commented on #189
Thanks for the feedback! Verified in Ruby 2.0.0 and MetaInspector 5.2.3.

[2016-08-27 22:57] jaimeiniesta commented on #189
For the SSL part, as we use Faraday to make the request, you could do this to disable SSL certification:

https://github.com/jaimeiniesta/metainspector#disabling-ssl-verification-or-any-other-faraday-options

But use this with care, this has [security implications](https://github.com/lostisland/faraday/wiki/Setting-up-SSL-certificates#solutions-to-avoid)

[2016-08-27 23:01] jaimeiniesta commented on #189
For the UTF-8 part, we _might_ use this:

http://api.rubyonrails.org/classes/ActiveSupport/Multibyte/Chars.html#method-i-tidy_bytes

[2016-08-27 23:02] jaimeiniesta commented on #189
Related: https://github.com/jaimeiniesta/metainspector/issues/129

[2016-08-28 22:53] lepek commented on #188
Although we know it is not HMTL, while crawling a site it could be found and crawled it. We know it is not HTML, now we have to make MetaInspector->Faraday also know about that 😄

The redirect it is just because that URL is actually redirecting to the streaming URL which is longer, so we can ignore the redirections, that is not a problem:
[code]

This is an idea using Net::HTTP:
[code]
But Faraday

[2016-08-29 23:27] jaimeiniesta commented on #188
Alright, so then it's got nothing to do with redirections. This is the simplest case where Faraday gets stuck:

[code]

I think that as Faraday doesn't support streaming, we're going to have to add our own global timeout around it.

[2016-09-06 09:37] #188 closed

[2016-09-06 09:42] jaimeiniesta commented on #188
This has been fixed and released in 5.3.0.

As Faraday doesn't handle streaming by now, I've added a timeout on top of it, set to the sum of connection timeout and read timeout, plus one second.

By default, this means a timeout of 21 seconds. You can set a different timeout with the `:connection_timeout` and `:read_timeout` options.

[2016-09-10 18:48] alfie-max opened #190 "ArgumentError: invalid byte sequence in UTF-8"
Rails 4.2.7.1
Ruby 2.3.1
metainspector (5.3.0)

[code]

[2016-09-10 18:50] alfie-max opened #191 "title not found even when there is a title tag and og:title"
Rails 4.2.7.1
Ruby 2.3.1
metainspector (5.2.1)

[code]

[2016-09-18 16:22] NeoElit commented on #191
@alfie-max does this library parse gzip compressed responses automatically? the site mentioned by you doesn't seem to respect "accept encoding" header.
It's always sending compressed content.

[2016-09-19 16:50] jaimeiniesta commented on #191
Yep, the problem lies in the gzipped response. We don't support it yet, but we can add it.

[2016-09-19 16:50] jaimeiniesta commented on #190
Duplicate of #191

[2016-09-19 16:50] #190 closed

[2016-09-19 17:08] #191 closed

[2016-09-19 17:09] jaimeiniesta commented on #191
This has been fixed in Metainspector 5.3.1, we now automatically deflate gzipped responses.

Thanks for the bug report @alfie-max

[2016-09-19 17:11] jaimeiniesta commented on #189
@tchret for the second example, on 'https://www.helpscout.net/embed-tools/', the problem was that the response was gzipped. Since MetaInspector 5.3.1 we now automatically deflate this, so this has been fixed. Related: #191

[2016-09-19 17:12] jaimeiniesta commented on #189
@tchret as for the SSL part you can disable SSL verification, I'm going to close this issue. Feel free to reopen if needed, and thanks!

[2016-09-19 17:12] #189 closed

[2016-09-20 09:59] alfie-max commented on #191
@jaimeiniesta Thanks.

[2016-09-20 10:24] alfie-max opened #192 "Wrong description for mortonamusement.com"
Hi @jaimeiniesta , Great work with this gem and thanks again for fixing the last issue i reported.

Don't know if much can be done about this one, but thought of reporting it either way.

For just this domain here : mortonamusement.com
The description returned is a lot of css code.

I agree the code of the page is totally messed up. But if something can be done, lets...

Thanks in advance :smile:

[2016-09-20 11:12] jaimeiniesta commented on #192
This happens because the page hasn't got a meta tag for the description, and in that case we get the first long paragraph:

https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/parsers/texts.rb#L20-L23

But for this page, this paragraph contains scripts and css tags.

We're working on a similar issue on https://github.com/jaimeiniesta/metainspector/pull/171 but this is not

[2016-10-17 14:15] martijndekuijper commented on #166
Hey @jaimeiniesta, this is definitely still an issue. You can reproduce it:

[code]

Any way to work around this? If I can filter out these svg images, I'm good.

Thanks.

[2016-10-17 14:26] jaimeiniesta commented on #166
Thanks for reopening and providing more test URLs, I'll take a look as soon as I can.

[2016-10-18 06:57] jaimeiniesta commented on #166
I've reproduced the bug in my machine, in MetaInspector 5.3.1.

It fails when trying to process an embedded image with FastImage, like this one:

[code]

We need to investigate if there is a way in FastImage to support this, and if not, either avoid processing these kind of images, or better, try to use one of the alternative URLs provided in `data-src`.

[2016-11-21 16:15] abdelhady opened #194 "A url that can't be scrapped (mobile version of the website)"
[This Url](http://mobile.nytimes.com/2016/11/15/opinion/mark-zuckerberg-is-in-denial.html) can't be scrapped, and gives no results at all
(may be because it is the mobile version of that website!)

[2016-11-21 16:34] jaimeiniesta commented on #194
Hello!

I can't reproduce, what version of MetaInspector are you using? I've tried with 5.3.1 and it goes fine, the demo also works:

https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fmobile.nytimes.com%2F2016%2F11%2F15%2Fopinion%2Fmark-zuckerberg-is-in-denial.html

[2016-11-21 17:07] abdelhady commented on #194
I'm currently using 5.0.1, but actually the demo is not working, it is not giving any title/description/images or anything else!

[2016-11-21 17:15] jaimeiniesta commented on #194
It looks like the NY Times server is returning different content, probably based on the request IP.

You're right that the demo doesn't show anything now, but it did when I tried before.

Also, when I try from my development machine, I can get all the information:

[code]

Are you trying from a server or from your dev machine? I suggest trying from a different computer and see if it works there, i

[2016-11-21 17:41] abdelhady commented on #194
Well, the first time I figured it out was on our production environment located in "US East (N. Virginia)" region, but then my development machine gave the same empty results,
at first I suspected the older version I'm using (5.0.1), that is why I've tried the demo which gave the same results to me,

I think it is somehow related to NY Times' mobile version, because their normal version is working

[2016-11-21 20:46] jaimeiniesta commented on #194
There's definitely something weird with that URL, now it's failing in my dev machine as well.

It still depends on what the server returns, which seems to be changing as it sometimes worked fine for me.

Now, what I see is a lot of scrambled text instead of a document:

[code]

[2016-11-21 21:20] jaimeiniesta commented on #194
Proof that it's an intermittent error:

![captura de pantalla 2016-11-21 a las 22 20 14](https://cloud.githubusercontent.com/assets/2629/20501123/c0c301e0-b038-11e6-8a50-92d4348bd2be.png)

[2016-12-01 12:45] khanimdad opened #195 "Wrong image is being picked"
Trying to get detail from link https://www.quora.com/What-were-the-experiments-conducted-that-would-have-ended-the-world/answer/Bryan-Phelps-3?srid=iM81

But its returning wrong image while it has better image on detail page

[2016-12-01 12:57] jaimeiniesta commented on #195
Thanks for the report - can you add what MetaInspector version are you using, what image is picking and which one should pick instead?

[2016-12-01 13:01] khanimdad commented on #195
Am using metainspector (4.7.2)

And am getting placeholder image instead of actual image.

FYI: there is no open graph tag on the said page.

[2016-12-01 21:09] prabond opened #196 "Unreadable text for some pdf urls"
For most pdf files I tested the gem returns empty description. However, for some it is returning unreadable text like "ÿ!m`”  Afvye6j 8}FMUÜq@ûÉJ °MsaR9SÜhs&DG?B£Jc gõh¨FÕ)ÿÄ ë4«'[rÄÖ[ÙÚúdÝÒHvÔ ‘åÙó*WV^»cÜ5IªWzÅ}hÏö·’¬^VS0q´@QÔpÆæÂ’©#IC^L"õK8aµXÉïÄ2zU…"

Following are couple of urls it fails for:
http://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_expla

[2016-12-01 22:39] jaimeiniesta commented on #196
MetaInspector is an HTML scraper, it can't process PDFs.

[2016-12-01 22:39] #196 closed

[2016-12-01 22:43] jaimeiniesta commented on #195
Could you please try with the latest version, 5.3.1 and in case it also fails with this version, let me know the expected URL and the actual URL that it's returning?

[2016-12-02 05:58] khanimdad commented on #195
Updated to 5.3.1 but not luck,
page.images.best it returns https://qsf.ec.quoracdn.net/-3-images.placeholder_img.pngb25e022d8984a59c.png

While it should return - https://qph.ec.quoracdn.net/main-qimg-2ea76ac91ba6ec4d48dd3bdf420df58f-c?convert_to_webp=true

[2016-12-15 11:39] abdelhady opened #198 "Wrong scrapped info (title/description/image), even with the demo"
I'm trying to scrape [this url](https://inbound.org/blog/what-1200-of-the-worlds-best-marketers-think-about-the-future-of-social-media) from inbound.org,

when using the version 5.0.1 (in my code), it gave me empty title/description (with wrong image),
& when using [the demo](https://metainspectordemo.herokuapp.com/), it gave me [wrong data](https://metainspectordemo.herokuapp.com/scrape?url=https

[2016-12-27 18:09] jschwindt commented on #198
@abdelhady: The <title> tag of that page is initially empty and it is filled up later using javascript. Also, all the social meta tags al empty and the first <h1> has only "Log In". I don't think there is much that can be done using MetaInspector :(

[2016-12-27 21:10] jschwindt commented on #166
I've just created a PR for skipping any non HTTP image url, but at the same time I'm asking Fastimage if they are interested in adding support for Data URI scheme: https://github.com/sdsykes/fastimage/issues/74

[2016-12-28 21:44] prabond commented on #181
Any update on this issue?

[2016-12-29 09:00] jaimeiniesta commented on #181
@prabond yes, there's a PR for fixing this and we're discussing it https://github.com/jaimeiniesta/metainspector/pull/197

[2016-12-29 16:23] abdelhady commented on #198
Well, you are right, I just thought that since Facebook is successfully scrapping it, then there might be a way of doing so! .. but I can't think of a solution for it.

Anyway, thanks for your response, & good luck.

[2016-12-29 21:50] jaimeiniesta commented on #198
There might be a way of doing this using something like PhantomJS, but this falls out of the scope of MetaInspector right now... Anyway I'm open for PRs if anyone can think of a way to do this.

Thanks!

[2016-12-29 21:50] #198 closed

[2017-01-27 13:53] artem-russkikh opened #201 "Redirection to URL with anchor cause 404"
FaradayMiddleware::FollowRedirects has bug that cause redirection to wrong url (url with wrong encoded anchor)

https://github.com/lostisland/faraday_middleware/issues/138

Issue can be reproduced on demo using this link:
[code]

Also on dev machine using metainspector 4.7.2

Seems that issue is already fixed (month ago)

[2017-01-27 16:03] jaimeiniesta commented on #201
Thanks, I verified the bug on the demo:

https://metainspectordemo.herokuapp.com/scrape?url=https%3A%2F%2Fbit.ly%2F2jDtwKC

It looks like the fix will be updating the dependencies, feel free to send a PR if you wish!

[2017-01-27 18:14] artem-russkikh commented on #201
ok! i'll do it soon

[2017-01-28 22:51] jaimeiniesta commented on #201
Thanks! The dependencies update is on its way.

[2017-01-28 22:51] #201 closed

[2017-02-03 12:06] roback opened #204 "Encoding::CompatibilityError: incompatible character encodings: UTF-7 and UTF-8"
Im getting the following error in MetaInspector 5.2.2. I have only ever noticed this for the URL http://www.imusausa.com/. I suspect that UTF-7 isn't that common since I didn't know it existed before seeing this error.

To reproduce the error: `MetaInspector.new("http://www.imusausa.com/")`

[code]

I also get the same error in 5.4.0:

[code]

[2017-02-07 19:26] jaimeiniesta commented on #204
UTF-7! First time I hear about it as well. No idea, will have a look when I can, PRs welcome :)

[2017-02-23 18:39] danielbonnell commented on #195
I'm also encountering this problem quite frequently. I'm running v5.4.0. For example, if I scrape `cnn.com`, both `page.images.first` and `page.images.best` return `http://i.cdn.cnn.com/cnn/.e1mo/img/4.0/logos/menu_entertainment.png`, which is incorrect. The url should be the CNN logo, which in fact does appear in `page.images`, but is near the end of the array. I've tried toggling on/off the `dow

[2017-02-23 21:07] jaimeiniesta commented on #195
Thanks @danielbonnell and @khanimdad - we need to fix this.

Pull requests are warmly welcomed :)

[2017-02-23 21:49] jaimeiniesta commented on #166
Now that the PR for @jschwindt in FastImage has been accepted (great work!), I've checked the example for @mib32 and it works fine, it returns [this image](https://images-na.ssl-images-amazon.com/images/G/01/aplusautomation/vendorimages/0e2ee17d-476f-43ab-92d3-053d72f92933.jpg._CB526267614__SR970,300_.jpg).

The example by @martijndekuijper also works now, returning:

[code]

[2017-02-23 21:54] jaimeiniesta commented on #166
Just released MetaInspector 5.4.1, with base64 support. Thanks all!

[2017-02-23 21:54] #166 closed

[2017-02-23 21:59] jaimeiniesta commented on #195
@khanimdad @danielbonnell we've just released version 5.4.1, that upgrades gem dependencies and includes support for base64 images, please try again with this version and let me know if this is still an issue.

[2017-02-23 23:19] danielbonnell commented on #195
@jaimeiniesta I'm attempting to update now to test the difference but not having much luck. Getting a [strange dependency error](https://stackoverflow.com/questions/42427352/bundler-could-not-find-compatible-versions-for-gem-faraday) from `bundler` that I can't quite wrap my head around.

[2017-02-23 23:54] jaimeiniesta commented on #195
@danielbonell I think the problem is with the dependency on instagram-continued, `faraday (~> 0.9.2)` will let you install 0.9.3, 0.9.4, etc., but no 0.10.x or 0.11.x - and metainspector requires now 0.11.x

So I would ask the authors of instagram-continued to relax / upgrade this dependency.

[2017-03-03 18:04] danielbonnell commented on #195
@jaimeiniesta I just upgraded to `5.4.1` and this doesn't seem to have improved. With my `cnn.com` example, it's still selecting the wrong image.

[2017-03-03 22:52] jaimeiniesta commented on #195
Thanks for the update @danielbonnell - I will take a look as soon as I can. PRs are still welcome :)

[2017-03-14 20:31] oyeanuj opened #205 "Comparison with Metascraper/Scrappy"
Hi @jaimeiniesta, a more general question -

I came across these two libraries that seem to have a higher hit rate and wondering your thoughts on those features and if you could see them being incorporated in `metainspector`.

1. [Metascraper](https://github.com/ianstormtaylor/metascraper): This library uses a lot of css classname fallbacks and seems to gets a [much higher hit rate](https://github

[2017-03-14 21:17] jaimeiniesta commented on #205
Hi @oyeanuj !

As long as the features are focused on HTML pages (no PDFs or other format), I'll gladly accept pull requests for them!

About the comparison, it's interesting to look at them but also notice that for Metascraper they're comparing with node-metainspector - which is a project based on metainspector, but a different one.

[2017-03-14 21:17] #205 closed

[2017-03-21 20:01] danielbonnell opened #206 "undefined method `split' for nil:NilClass"
Hello,

I believe I've found a bug, however I can't tell if it's with MetaInspector, Faraday, or Faraday Middleware. I don't know much about the internals of either library. I'm running `metainspector 5.4.1` with `faraday 0.11.0` and `faraday_middleware 0.11.0.1`.

This only seems to occur with some urls. Here's an example url that triggers the bug:

[code]

Here is my code from line 17 of `/app/w

[2017-04-11 18:25] pmaojo opened #207 "help please. My code does nothing on after_save callback on model"
This is in a Model, I want the script to save the al:ios:url of a facebook page.
 I don´t get error, but the data is not saved, don´t know what could be the problem?
[code]

[2017-04-11 20:56] jaimeiniesta commented on #207
Hello, I'm afraid we can't help you here if the problem is not directly in Metainspector, but let's give it a try. In this part of the code:

[code]

What is the URL in `urlfb`? We need an URL to test with, and if you think there's a bug, the expected result and the actual result.

Thanks!

[2017-04-12 11:53] pmaojo commented on #207
A very similar function is working on my computer running `ruby nameofile.rb`

[code]

[2017-04-12 12:11] jaimeiniesta commented on #207
Then I guess the problem is in your app, not in Metainspector?

El abr. 12, 2017 13:53, "Pelayo Maojo" <notifications@github.com> escribió:

[2017-04-14 15:28] jaimeiniesta commented on #207
Just tested the code in your second comment, and it returns `fb://page/?id=597480420275501` - which is the value for that meta tag in this page.

Closing this, feel free to reopen if you think there's any bug.

[2017-04-14 15:28] #207 closed

[2017-04-14 15:35] jaimeiniesta commented on #206
Thanks for the bug report. First time I tried I got a timeout, then I increased the time to 50 seconds:

[code]

And then I get a similar error. There seems to be an error in `faraday_middleware-0.11.0.1` so we should investigate if an upgrade to the latest version of that library (if any) fixes it, and if it doesn't, write an example that to open an issue on their project.

[2017-04-25 12:10] tackeyy opened #208 "How can I get h1 tag?"
Thank you for creating this gem!

I`d like to get h1 tag like page.title.
Is there any way or options?

[2017-04-25 15:12] jaimeiniesta commented on #208
Thank you!

If you use `page.best_title`, the first `h1` tag will be used as the last candidate:

https://github.com/jaimeiniesta/metainspector/blob/master/lib/meta_inspector/parsers/texts.rb#L36-L41

Other than that, there's no way to specifically get an `h1` tag.

[2017-04-25 15:13] #208 closed

[2017-04-25 15:30] tackeyy commented on #208
I got it. Thank you!

[2017-05-17 20:45] cwills opened #209 "LinkedIn can't be scraped?"
Anyone find a way to scrape LinkedIn URLs?

Example: https://www.linkedin.com/pulse/artificial-intelligence-ai-new-sales-frontier-timothy-tim-hughes

[2017-05-18 08:53] jaimeiniesta commented on #209
I can scrape it from my development machine just fine using MetaInspector 5.4.1:

[code]

But it fails from the [demo hosted in Heroku](https://metainspectordemo.herokuapp.com/scrape?url=https%3A%2F%2Fwww.linkedin.com%2Fpulse%2Fartificial-intelligence-ai-new-sales-frontier-timothy-tim-hughes)

From the output I see a 999 response status code, that seems [the way that LinkedIn has for a request den

[2017-05-19 13:27] cwills commented on #209
Thank you. I'm getting the 999 response status code on both my Cloud9 development account and on my production account.

[2017-05-19 14:12] jaimeiniesta commented on #209
Makes sense, it could be that both Cloud9 and your production servers IP are not trusted by LinkedIn. I had the same problem with Heroku - but works fine in my local computer.

[2017-05-26 16:49] vanegomez opened #210 "undefined method internal for #<Array:0x007f85868dbe78>"
Hello,

Thank you for writing this gem.

I'm not sure why Im getting this error using the link_checker.rb example for a rails app. I'm getting all the links but all and internal method are not working.
[code]
Thank you.

[2017-05-27 21:38] jaimeiniesta commented on #210
Hey @vanegomez you're using it wrong, if you want to get the internal links it's just `page.links.internal`.

Take a look at the README:

https://github.com/jaimeiniesta/metainspector#links

Feel free to reopen this issue if you think there's still an issue!

[2017-05-27 21:40] jaimeiniesta commented on #209
Closing this, feel free to reopen if you think it's not related with IP blocking.

[2017-05-27 21:40] #209 closed

[2017-05-30 15:13] vanegomez commented on #210
@jaimeiniesta sorry I think I didn't explain myself better. I was trying to use your example with rails https://github.com/jaimeiniesta/metainspector/blob/master/examples/link_checker.rb
I get the following errors:
[code]

for this method:

[code]
if I remove the `all` from select it keeps going, but then I get another error. I'm able to get all the links but no able to use the 'external' or 'inte

[2017-05-30 15:46] jaimeiniesta commented on #210
Hey @vanegomez let's try to get this working!

You shouldn't loop directly `page.links`. Instead you have to choose if you want all the links (`page.links.all`) or the internal links (`page.links.internal`), for example. See the README for more options.

For example, this will print all the links:

[code]

And this will only print the internal links:

[code]

Makes sense?

If you want, upload your

[2017-05-30 16:21] jaimeiniesta commented on #210
Alright, I catched an error here:

https://gist.github.com/vanegomez/de917d1d5c7e1bdfae2d17db982b774f#file-external_link_checker-rb-L46

`page.links.select {|l| l =~ /^http(s)?:\/\//i}.each do |link|`

should be, I guess,

`page.links.external.select {|l| l =~ /^http(s)?:\/\//i}.each do |link|`

Not sure what you want to achieve (the example script is a bit old), but the thing here is that you can

[2017-05-30 16:28] jaimeiniesta commented on #210
I simplified the example script, the idea there was to check the status only of the HTTP links, `select`ing only those that started with "http(s)". But there's a simpler way for that, just using `links.http`:

https://github.com/jaimeiniesta/metainspector/commit/ba6bfdcb022860e7b98d8524d90981a39ceaee9a

Take a look the Links section in the README:

https://github.com/jaimeiniesta/metainspector#lin

[2017-05-30 16:28] vanegomez commented on #210
'page.links' this comes as collection in pry

![screen shot 2017-05-30 at 10 26 29 am](https://cloud.githubusercontent.com/assets/10290117/26593757/8bc31a00-4522-11e7-9aa3-4513ba256baf.png)
![screen shot 2017-05-30 at 10 27 31 am](https://cloud.githubusercontent.com/assets/10290117/26593819/b30a19a6-4522-11e7-9208-28d68b03dddf.png)

[2017-05-30 16:29] jaimeiniesta commented on #210
What MetaInspector version are you using?

[2017-05-30 16:31] vanegomez commented on #210
just added `gem 'metainspector'` to my gemfile

omg thank you so much for helping out

[2017-05-30 16:33] jaimeiniesta commented on #210
It looks like you might be using an old version of MetaInspector. Back in the days, `page.links` was a collection, but now it doesn't work that way. Please update to the latest version `5.4.1` :)

[2017-05-30 16:41] jaimeiniesta commented on #210
If for some reason you can't upgrade to the latest version, here's the documentation for release 3.3.0 where `page.links` was still a collection

https://github.com/jaimeiniesta/metainspector/tree/fc96ae8bf421fabb15889bee3cbfee18af0fefcd

But, the 3.3.0 release is 3 years old, this is super old and unsupported. You're encouraged to upgrade to 5.4.1 and get all the fixes and improvements since then

[2017-05-30 16:55] vanegomez commented on #210
thank you @jaimeiniesta I had to specify the gem version in my gemfile in order to work.

[2017-05-30 18:10] jaimeiniesta commented on #210
Cool, glad you fixed it. :)

[2017-05-30 18:10] #210 closed

[2017-06-06 20:09] brianarpie opened #211 "special case: base href is empty string"
Hi,

I'm parsing a site that has this tag in the header:
`<base href=""/>`

The following code for determining `base_href` doesn't take the possibility of an empty string into consideration:
https://github.com/jaimeiniesta/metainspector/blob/400d71ba680c48c5c2df29688c68b3d68c3c8435/lib/meta_inspector/parsers/links.rb#L55

I'd like to add a check `.blank?` for this value before returning it. Are th

[2017-06-18 09:37] dhruvbhatia commented on #195
This also happens with pages on the Play Store (`page.images.best` returns the wrong image).
See [example here](https://metainspectordemo.herokuapp.com/scrape?url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fhl%3Den%26id%3Dcom.creativetrends.simple.app.pro).

[2017-06-19 14:06] jaimeiniesta commented on #195
Thanks, we'll take a look.

Can you please provide exact details:

* MetaInspector and Ruby version being used.
* URL being scraped.
* Expected URL for the image.
* Actual URL for the image.

[2017-07-05 14:26] TGots7 commented on #64
HI, I am having the same problem, I am opening a html site scrapig getting the data properly then an error is firing after i get the data saying 404 error, do you knwo why this could be? thank you

[2017-08-13 07:28] alfie-max opened #212 "Using of `Nokogiri::XML` instead of `Nokogiri::HTML`"
I was using this gem for getting the external links on a page, but when it encountered html pages with issues, the rest of the page is ignored and that caused many of the links not to be fetched.

So was playing around with nokogiri and tried using `Nokogiri::XML` and that gave me all the links. irrespective of the html errors.

Not sure what the difference is in the implementation. But would be g

[2017-08-16 21:04] oyeanuj opened #213 "Add best_author method"
Hi @jaimeiniesta! Thanks for the library! Wondering if you'd consider adding `best_author` method similar to `best_title`, and `best_description` methods that you have today?

[2017-08-16 21:07] oyeanuj opened #214 "Using parsely-* fields within best_* methods"
Hi @jaimeiniesta! Increasingly on blogs and publisher sites, I come across `parsely-*` tags being reliably present. Noticing how the `best_*` methods are structured today in a waterfall, what are your thoughts on relying on parsely tags if OG and Twitter tags aren't found.

Here is an example: https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fwww.bloomberg.com%2Fnews%2Farticles%2F201

[2017-08-17 09:47] jaimeiniesta commented on #214
Sounds good, as long as it takes less precedence than the others. But it's always good to have a longer chain of fallbacks.

Go ahead with the PR if you wish!

[2017-08-17 09:48] jaimeiniesta commented on #213
Sure, good idea!

I'll welcome a PR for that.

[2017-09-14 10:42] norbertszivos opened #215 "Image url encode problem"
Hi,

Thank you your great gem.
Sadly we found an issue when we tried to use this gem.
We're using the latest version of this gem (5.4.1).

We found this issue when we tried to scraping theguardian pages. e.g. https://www.theguardian.com/politics/2017/sep/13/theresa-may-to-deliver-brexit-speech-in-florence but I guess you can reproduce the problem with any pages of theguardian.
<img width="1633" al

[2017-09-14 12:16] jaimeiniesta commented on #215
Thanks for the report! I'll have a look as soon as possible, but feel free to send a pull request with a fix :)

[2017-09-24 17:54] norbertszivos commented on #215
Hi @jaimeiniesta,
I'm happy to do that, but I'm not sure how to fix it at this moment, because there is a `normalize` method for the urls which cause the problem, but I guess this method is there for a reason. So it's not obvious where can we fix this problem or how.

[2017-09-25 11:59] jaimeiniesta commented on #215
Thanks for looking into that @norbertszivos - I'll take a look as time permits.

[2017-09-29 00:39] danielbonnell opened #217 "NoMethodError: undefined method `+' for nil:NilClass"
Hi, I'm getting an error when trying to scrape certain `ow.ly` urls. I'm not really familiar with the inner workings of this gem, I just use it for a project that I work on. I'm not sure if the problem is with this gem or `net/http` or `faraday`.

Running the following code with the latest release yields the following error:
[code]

[2017-09-29 11:00] jaimeiniesta commented on #217
Thanks for the bug report!

It seems that the problem is within faraday or net/http indeed. Will investigate when I have some time, feel free to send them a PR :)

[2017-10-18 21:43] uhlhosting opened #218 "What's this doing on my logs?"
[code]

[2017-10-19 09:57] jaimeiniesta commented on #218
Hello, MetaInspector is a ruby gem used to read web pages and extract information from them, like the title, description, links, etc.

MetaInspector is polite and identifies itself via the User-Agent string:

https://github.com/jaimeiniesta/metainspector#headers

In short, someone used MetaInspector to read your web pages.

[2017-10-19 09:57] #218 closed

[2017-10-27 00:46] m-walker commented on #159
There's no need for me to go into the details since most of been stated already, but I'm getting the same error in production (i.e. "robot check") when dealing with Amazon links. My app is hosted on Heroku as well.

Has anybody found a successful workaround for this?

By the way, thanks so much for your work on this gem!

[2017-12-05 10:06] eskobar78 opened #219 "Cannot parsing the site"
https://www.hertz.com
Demo app returns the error:
![demo](https://user-images.githubusercontent.com/9692982/33601154-0dd5c3fa-d9b4-11e7-890f-d84b814d4d9e.jpg)
On irb doesn't find any page:
![irb1](https://user-images.githubusercontent.com/9692982/33601290-6eb25f44-d9b4-11e7-810d-2efd160d311a.jpg)
.......................
![irb2](https://user-images.githubusercontent.com/9692982/33601296-748b0a74-d9

[2017-12-05 14:01] jaimeiniesta commented on #219
Thanks for the report, but I could scrape it from my development machine. In fact in your screenshot I do see it scrapes the page, it doesn't find any links surely because it's a JS page. Try with `page.title` for example.

In the demo, as it is hosted in heroku, surely they intercept the IP as being an automated request, and they just don't reply, which returns in a timeout.

[2017-12-05 14:01] #219 closed

[2018-01-24 06:58] georgecheng opened #220 "ArgumentError: invalid byte sequence in UTF-8"
**Ruby**: 2.4.1
**Rails**: 5.1.4
**MetaInspector**: 5.4.1
**Problem URL**: `http://www.stephguerin.com/archives/dashthis-est-maintenant-rendu-a-275-employes/`

---

Hi, I tried looking for solutions everywhere before posting this issue, but have been unable to resolve it. I'm getting an `ArgumentError: invalid byte sequence in UTF-8` error on this URL: `http://www.stephguerin.com/archives/dashthis

[2018-02-01 05:03] ksouthworth opened #221 "Issue HTTP HEAD request first to check content type before downloading?"
First of all, thanks for the great gem!

It seems when inspecting pages that have a lot of links to big files like PDFs, that the entire file is downloaded (HTTP GET) before checking the Content-Type header to see that it's not an HTML file and then raising the MetaInspector::ParserError.

It would be really nice if there was an option or something to pass in so that MetaInspector first just does

[2018-02-01 08:52] bragboy opened #222 "Get all iframes in a page?"
How about something like this?

page.iframes.src - Gives me sources of the iframes present in the page

If you can implement this great. If not, I can submit a Pull request. Please let me know.

[2018-02-01 09:23] jaimeiniesta commented on #222
Sounds like a good idea. It would be nice to get all the attributes of the iframes, not only the src, if possible. Please submit a PR.

[2018-02-01 09:25] jaimeiniesta commented on #221
Thanks!

This sounds like a great idea to me. As maybe not all servers will reply to HEAD, it's fine that it's an option, off by default.

PRs welcome :)

[2018-02-04 14:19] martijndekuijper commented on #215
Hey, any progress on this? Would be great if this could be fixed. Or is there a workaround?

[2018-02-04 21:21] jaimeiniesta commented on #215
Still haven't had a chance to look at it. PRs are very welcome :)

[2018-02-04 21:24] jaimeiniesta commented on #222
Closing this suggestion - PRs welcome!

[2018-02-04 21:24] #222 closed

[2018-02-05 11:02] martijndekuijper commented on #215
@jaimeiniesta Unfortunately, I don't know how to fix this :) Any suggestions for a workaround?

[2018-02-05 12:01] jaimeiniesta commented on #215
@martijndekuijper do you have more examples of this bug? Is the same happening in your case, `%2C` being converted to `, `? The more examples we have, the better. :)

[2018-02-05 12:58] martijndekuijper commented on #215
@jaimeiniesta Yeah, good one. I experience the same thing with a Guardian article, but here's another example:

The url https://wip.chat/questions/194 has an Open Graph image with the following url:

`http://beta.url2png.com/v6/P53FB950639057/102aeef3a791fad1c2c52ffdb0b5897c/png/?fullpage=false&amp;thumbnail_max_width=1120&amp;unique=1517545798&amp;url=https%3A%2F%2Fwip.chat%2Fquestions%2F194.card

[2018-03-02 20:05] gchiaren commented on #220
+1 here.

**Ruby:** 2.4.1
**Rails:** 5.1.5
**MetaInspector:** 5.4.1
**Problem URL:** `https://forum.bodybuilding.com/showthread.php?t=168913393`

[2018-03-07 22:43] ronniekessler opened #225 "MetaInspector behaving differently on local when comparing to demo site"
I ran a url through the demo site (https://metainspectordemo.herokuapp.com/) and got the correct page.images.best but when I run locally (with same version of gem) I get a different 'best' image.

Any thoughts on why this would happen?

Apologies, I can't provide the url for client privacy reasons.

[2018-03-08 08:57] andresinaka opened #226 "RequestError: end of file reached"
When doing the following I randomly get the `RequestError: end of file reached`

[code]
Same link one time works the second time it doesn't. No clue what's going on!

[2018-03-08 10:29] jaimeiniesta commented on #225
It would be good if you could provide a demo site that reproduces this error. I understand you can't post your client's URL, but maybe you can craft a little site somewhere else that reproduces it, or find another URL out there where this also happens.

Without that, it's very difficult to reproduce the issue.

[2018-03-08 10:30] jaimeiniesta commented on #226
Can you provide an URL that we can try?

[2018-03-17 03:06] luctus commented on #220
Same here...

Ruby: 2.4.1
Rails: 5.1.5
MetaInspector: 5.4.1
Problem URL: http://www.plataformaurbana.cl/archive/2009/01/25/%C2%A1%C2%A1quiero-reciclar-%C2%BFdonde-reciclar/

[2018-03-19 09:43] jaimeiniesta commented on #220
Thanks for the report! I'm very busy lately to investigate this but I'll be happy to review PRs 👍

[2018-03-27 10:00] jaimeiniesta commented on #226
@andresinaka we need an URL to be able to reproduce this, please provide an example so we can investigate.

[2018-03-27 10:01] jaimeiniesta commented on #225
@ronniekessler closing this issue as we can't reproduce it, feel free to reopen when you can provide an example.

[2018-03-27 10:01] #225 closed

[2018-03-27 10:01] #226 closed

[2018-03-27 10:04] jaimeiniesta commented on #212
@alfie-max sorry for taking so long to reply. Can you please provide and example URL that we can try? What errors are you getting?

[2018-03-27 10:05] jaimeiniesta commented on #211
@brianarpie I'll be happy to review a PR to remedy this issue :)

[2018-03-27 10:12] jaimeiniesta commented on #181
Fixed, in MetaInspector 5.4.1 this URL now returns a `best_description`:

[code]

[2018-03-27 10:12] #181 closed

[2018-03-27 10:14] jaimeiniesta commented on #129
It keeps failing in 5.4.1

[2018-04-06 00:04] lesleyhogg commented on #213
Hello. Here's some code I wrote to add `best_author`. Would this work? If so, I can go ahead and create tests for it and then make a PR.

for texts.rb:
`# Returns the document author
def best_author
  @best_author ||= find_best_author
end

# An author getter that returns the first non-nil description
# from the following candidates:
# - the standard meta description
# - a link with the relational

[2018-04-06 09:56] jaimeiniesta commented on #213
Hello @lesleyhogg , yes, it sounds good, please go ahead!

[2018-04-07 07:13] Mifrill opened #229 "data sources or external links"
I want to say thanks for the excellent work, gem is very good.

How about data sources or external links, for example, from where the frames and js-libs used?

For example, if the site has a video, or the site displays products from another resource. It would be convenient to also display this information in your reports. Especially this applies to frames. Thank you

[2018-04-07 17:34] jaimeiniesta commented on #229
Thanks for your kind words.

I'm open for reviewing a PR that adds the URLs of external sources, scripts, stylesheets, frames... Feel free to send it :+1:

[2018-04-07 17:34] #229 closed

[2018-04-10 05:52] malav1410 opened #230 "Metainspector not able to fetch basic title or meta elements."
I got some issue while fetching data from simple pages like articles from linkedin.
I found title and fb meta tags and twitter meta tags in site's header file but metainspector unable to fetch any of them.

Link: https://www.linkedin.com/pulse/20140830162720-155900101-why-do-professional-athletes-need-a-coach

[2018-04-10 10:34] malav1410 commented on #225
Same issue here..
I am getting title, image and everything on my development version but same link not giving any result on metainspectordemo site.

url: https://www.linkedin.com/pulse/20140830162720-155900101-why-do-professional-athletes-need-a-coach

[2018-04-10 10:46] malav1410 commented on #209
Is anyone found solution for linkedin Parse?

[2018-04-10 10:55] jaimeiniesta commented on #209
There's nothing we can do here, LinkedIn is blocking the request based on the IP, that's why it can work on your dev machine but fail when you do it from your production server.

The only thing you can try is provide a different User-Agent and see if Linkedin likes it. If it's based on IP, there's nothing you can do - except use some kind of proxy cloud to fake your IP.

https://stackoverflow.com/

[2018-04-10 11:09] malav1410 commented on #209
@jaimeiniesta Thanks.

[2018-04-18 17:12] jnarowski commented on #220
I'd be happy to issue a pull request for this. Can you add me as a contributor?

[2018-04-18 17:30] gabceb commented on #220
Hi @jnarowski. You dont need to be added as a contributor to issue a PR. You do need to be a contributor to merge but others can do that for you. Cheers!

[2018-04-18 17:57] jnarowski commented on #204
Added an option here to force specific encodings:
https://github.com/jaimeiniesta/metainspector/pull/231

[2018-04-18 17:57] jnarowski commented on #220
Added an option here to force specific encodings:
https://github.com/jaimeiniesta/metainspector/pull/231

[2018-05-06 14:15] abdelhady opened #232 "A url containing utf-8 characters is manipulated, which leads to a page redirect"
[This url](https://www.chaino.com/pulse/%D8%A7%EF%BB%B5%D9%8A%D8%A9-%D8%AF%D9%8A%D9%87-%D8%A8%D8%AA%D9%84%D8%AE%D8%A8%D8%B7%D9%86%D9%8A-%D8%B4%D9%88%D9%8A%D8%A9-%D9%81-%D9%84-%D9%85-%D8%A7-%D8%A3-%D9%86) has utf-8 characters (Arabic) in it, which seems to be manipulated just before scrapping, which leads to an undesired redirect to the site's error page,

I'm using version 5.0.1, but even the late

[2018-05-07 09:28] jaimeiniesta commented on #232
Thanks for the bug report! I'll be happy to review a PR if you want to submit it.

[2018-06-08 21:17] danielbonnell opened #234 "Some page headers missing"
Hi,

I'm trying to check for the presence of the `content-security-policy` (CSP) header on a page (e.g. [this page has a CSP header](https://dc.curbed.com/2018/6/1/17418388/truss-virtual-reality-tours-northern-virginia-dc?utm_medium=FirmPlay&utm_source=LinkedIn&utm_campaign=ChiamakaE-8319&utm_term=dc.curbed.com&utm_content=4348)). When I check `page.response.headers` though, there is no CSP header

[2018-06-11 14:05] jaimeiniesta commented on #234
Hey Daniel, thanks for the report!

I can verify that using MetaInspector 5.5.0 I don't see any CSP header on the server response. But I don't see it either using Chrome, can you show me how to find that? Maybe an screenshot would help.

On a first thought, this sounds like the server is giving different responses based on the User-Agent string or IP.

[2018-06-11 14:17] danielbonnell commented on #234
I had the same thought about user agent. I tried overriding the default UA that MetaInspector sends with the same exact UA from my Chrome browser but I got the same headers. FWIW I noticed that the `content-length` in bytes differs substantially between Chrome (39948 bytes) and MetaInspector (134705 bytes), which would suggest to me that the web server somehow knows (even with the spoofed UA) that

[2018-06-11 16:09] jaimeiniesta commented on #234
This could be because of an IP check. Are you getting the same results when you use MetaInspector in your dev machine, and when you do that from your servers? It's very typical that some servers ban traffic from Heroku or AWS for example.

[2018-06-12 01:22] johncip commented on #217
I found this on google after running into the same issue. I think the problem is that Scout monkey-patches Net::HTTP in a way that incorrectly assumes `@address` is non-null.

[2018-06-12 09:03] jaimeiniesta commented on #234
If you get the page using `curl -I url` from your console, do you get the `content-security-policy` response headers? I don't get them:

[code]

I think that the server is somehow guessing that the request comes from a browser, for instance via cookies, and given a different response in that case. Using `curl` you can make a raw request, more similar to the one that MetaInspector does. You can als

[2018-06-12 14:47] danielbonnell commented on #234
This is interesting. I tried `curl`, same results you posted. I then went back, cleared my cache/cookies for that website, and now I'm not seeing the CSP header even in Chrome. Tried multiple reloads and still no CSP header. Definitely something interesting going on with that server.

[2018-06-12 15:01] jaimeiniesta commented on #234
OK, then that definitely explains the issue, the server responds with the CSP depending on the cookies.

[2018-06-13 10:55] jaimeiniesta commented on #217
@johncip thanks for the report! PRs are more than welcome :)

[2018-06-26 18:04] arjunmenon opened #236 "Customize scrape for selected page"
Hey
Sometimes Matainspector does not catch all relevant information from a site. Perhaps because it is structured in a non-standard way.

However, is it possible to specify the nodes to look for when it finishes to parse? I know I can further use `page.parsed` to get extra information, but I would like to return the results in the Metainspector hash itself?

A rules config would be nice.

How can

[2018-06-26 18:57] jaimeiniesta commented on #236
Hello!

The standard way that is expected is that of an HTML page, of course :)

I think I don't really understand your rules config proposal, but I'm open for any suggestion you may have in the form of a pull request!

[2018-09-14 20:57] jaimeiniesta commented on #220
Fixed in https://github.com/jaimeiniesta/metainspector/commit/3e83bb84e981f2c46037bc6990ee51cbd0f5b352

[2018-09-14 20:57] #220 closed

[2018-09-27 14:44] jaimeiniesta commented on #236
Closing this, feel free to send a PR :)

[2018-09-27 14:44] #236 closed

[2018-09-27 14:46] jaimeiniesta commented on #234
Closing this issue, feel free to open a new one or a PR if you think there's anything we can improve in the code @danielbonnell :)

[2018-09-27 14:46] #234 closed

[2018-09-27 14:53] jaimeiniesta commented on #232
I verified that this fails with MetaInspector 5.6.0.

The URL linked above gets converted to this one when I copy it from Chrome:

[code]

But as @abdelhady points out, the URL is wrongly manipulated somewhere and we get redirected to another one.

[2018-09-27 15:01] jaimeiniesta commented on #230
I can verify MetaInspector is not able to scrape much from LinkedIn:

https://metainspectordemo.herokuapp.com/scrape?url=https%3A%2F%2Fwww.linkedin.com%2Fpulse%2F20140830162720-155900101-why-do-professional-athletes-need-a-coach

This seems to be due to how the HTML code in there has been mangled up, probably looking to make it more difficult for scrapers, and to be reconstructed later on using Ja

[2018-09-27 15:01] #230 closed

[2018-09-27 15:06] jaimeiniesta commented on #217
@danielbonnell I just tried your example with MetaInspector 5.6.0 and I no longer get this exception. I'll close this issue, feel free to reopen if you can reproduce it again.

[2018-09-27 15:06] #217 closed

[2018-09-27 15:08] jaimeiniesta commented on #215
Still failing on MetaInspector 5.6.0.

[2018-09-27 15:09] jaimeiniesta commented on #213
Closing this as @lesleyhogg PR has been merged. Thanks!

[2018-09-27 15:09] #213 closed

[2018-09-27 15:10] jaimeiniesta commented on #212
@alfie-max I'll close this, feel free to reopen if you can provide an example URL to reproduce this.

[2018-09-27 15:10] #212 closed

[2018-09-27 15:12] jaimeiniesta commented on #211
Closing this due to inactivity, feel free to send a PR :)

[2018-09-27 15:12] #211 closed

[2018-09-27 15:16] jaimeiniesta commented on #206
Tried again the above example on MetaInspector 5.6.0 but it failed with:

[code]

[2018-09-27 15:20] danielbonnell commented on #217
I can confirm that it's working now (with that exact same link) in the 5.6.0. Weird. Thanks!

[2018-09-27 15:20] jaimeiniesta commented on #204
I've tried this example on MetaInspector 5.6.0 and it no longer fails. Feel free to reopen if it can be reproduced again.

[2018-09-27 15:20] #204 closed

[2018-09-27 15:27] jaimeiniesta commented on #129
Still failing in 5.6.0.

[2018-10-03 20:05] jschwindt commented on #215
As far as I can see, removing URL normalization for image URLs would solve this problem. I'd like to contribute with a PR, what is your suggestion @jaimeiniesta: 1) remove normalization for `owner_suggested` only, 2) remove normalization for all image URLs, 3) take into account the gem `normalize_url` parameter and apply it to image URLs also, 4) create a new parameter `normalize_image_url`, 5) an

[2018-10-05 08:51] jaimeiniesta commented on #215
I think that what needs to be fixed is URL normalization (probably upstream at the Addressable gem), so that it does not break URLs like the ones above. I would not skip normalization, let's make it work for all these cases.

[2018-10-05 13:40] jschwindt commented on #215
I'm not sure the normalization is doing something wrong, the problem is on those cache servers that look up the images using the query string literally. That's why I thought that leaving the URL as you find in the `meta['og:image']` could be an option.

[2018-10-23 12:44] jaimeiniesta opened #240 "Absolutify base href"
Some pages like https://www.delta.com/us/en have a relative base href tag:

[code]

This makes the scraping fail because we expect it to be an absolute URL.

To fix this, we should also absolutify this base href with the url of the scraped page. If the base href was already an absolute one, it won't get changed.

[2018-10-23 14:34] jaimeiniesta commented on #215
@jschwindt I understand, makes sense. Then yes, I think we can try to skip URL normalization in the images can be a fix to this, let's try that if you wish.

[2018-10-23 18:19] jschwindt commented on #232
This is another URL normalization problem. I tried this:
[code]
So, with the option `normalize_url: false` works fine.

[2018-11-06 10:33] martijndekuijper opened #242 "Many images on page slows down request when using page.images.with_size"
Hey, when you request a page with many images (eg 80) and use `page.images.with_size` the request is so slow that our applications times out (>30s).

Is there a way to limit the number of images it calculates the size for? It would love to be able to only fetch the size of the first 10 images for example.

[2018-11-06 12:03] jaimeiniesta commented on #242
You can disable image downloading entirely if you want:

https://github.com/jaimeiniesta/metainspector#image-downloading

This of course can take a lot of time if there are many images and they take a lot to download. Better do this in a background job so that the server does not time out.

To improve this, I can think of:

a) Introduce a new option to limit the number of images to download. Or ma

[2018-11-06 12:40] martijndekuijper commented on #242
O wow, this speeds up things drastically and fixed my issue for now! Thanks so much.

I feel this can indeed be improved even more by being able to set an option to limit the number of images to download. Loading in parallel also might fix the load time, but it still downloads the images then, which might be redundant if you don't need the last say 70 images. Right?

[2018-11-06 13:13] jaimeiniesta commented on #242
That's right, if you're interested in downloading images to get better results for their dimensions then this should be definitely go into a background job. Well, as any external request can take a long time, maybe all things related to scraping should go in background jobs as a general rule.

You're right that we could do a) and b), that is, let us specify the number of images to download, and al

[2019-03-10 16:11] abdelhady commented on #232
Sorry for the late response, I've just tried the `normalize_url: false` with upgrading to the latest version `5.6.0` & it worked fine with me,
I guess I'm gonna close this issue then, thanks a lot for your follow up 🙂

[2019-03-10 16:11] #232 closed

[2019-03-11 22:37] macmartine opened #244 "og:title tag not found, title returning nothing"
This page has a title tag and an og:title tage, and the gem still returns no titles:

http://www.ama-pdx.org/event/virtual-reality-marketing-strategy/

[4] pry(UrlAdder)> page.url
=> "http://www.ama-pdx.org/event/virtual-reality-marketing-strategy/"
[5] pry(UrlAdder)> page.title
=> ""
[6] pry(UrlAdder)> page.best_title
=> nil
[7] pry(UrlAdder)> page.description
=> nil

[2019-03-12 01:26] jschwindt commented on #244
That page is just a basic html that calls an IFRAME, that's why you don't get any data:

`> curl http://www.ama-pdx.org/event/virtual-reality-marketing-strategy/`

Returns:

[code]

[2019-03-12 17:29] jaimeiniesta commented on #244
Thanks for the report @macmartine and for the explanation @jschwindt

[2019-03-12 17:29] #244 closed

[2019-03-12 17:37] macmartine commented on #244
@jschwindt That's not what I see when I view source.

[2019-03-12 17:55] jschwindt commented on #244
That's because the browser is sending the cookie that the site expects. For example: this request response with the whole HTML because I copied the cookie from Chrome:

`
curl 'http://www.ama-pdx.org/event/virtual-reality-marketing-strategy/' \
-H 'Cookie: incap_ses_1241_1673620=NSFZCcLSdCLIIrse9uo4ER3xh1wAAAAA+xcMOna9Ra7KLStuHXuFWA=='
`

[2019-03-12 22:46] macmartine commented on #244
Okay, thanks. How does Slack unfurl it then?

[2019-03-12 23:10] jschwindt commented on #244
The site has some kind of "protection" to avoid robots (I'm guessing) and perhaps there is a way to avoid it that Slack knows about...

<img width="727" alt="Screen Shot 2019-03-12 at 14 49 37" src="https://user-images.githubusercontent.com/27816/54242220-998e4600-4502-11e9-9897-e43d7dca8c10.png">

[2019-03-13 03:20] aet08 opened #245 "MetaInspector::ParserError: The url provided contains text/html, text/html content instead of text/html content"
https://www.bloomberg.com/opinion/articles/2019-03-12/college-admissions-scandal-sports-teams-have-too-much-influence

Any suggestions?

[2019-03-15 13:41] jschwindt commented on #245
Bloomberg doesn't like to be scraped and put a lot of effort to avoid you to get their content, you can try this to see that the server returns status 307 (temporary redirect) and no content:

[code]

After following the redirect you end up in a page which title is "Bloomberg - Are you a robot?" that asks for a Captcha.

I wouldn't say that its impossible to scrape Bloomberg, but I gave up some ti

[2019-03-15 14:04] aet08 commented on #245
Impressive. Thank you!

On Fri, Mar 15, 2019 at 9:41 AM Juan Schwindt <notifications@github.com>
wrote:

[2019-05-31 14:29] opsidao opened #247 "Unexpected `ArgumentError: invalid byte sequence in UTF-8`"
I know that this is a know issue and that it has been handled in the past, but it was my understanding after looking at the previous issues (#190, #187, #220) that I should expect a `MetaInspector::RequestError` when there's a problem decoding a site, but I have one url that is actually throwing an ArgumentError, which is kind of unexpected and a bit broad to handle.

Here's a sample session showi

[2019-06-03 08:40] jaimeiniesta commented on #247
Thanks for the report! You're right, this should be converted into a proper error. I'm quite busy these days but I'll be happy to review a PR.

[2019-06-03 08:42] opsidao commented on #247
Sure, I'll try to give it some minutes this week at some point, if time allows 😉

[2019-06-29 06:31] cgarre opened #249 "linkedin.com profile pages are not getting scraped."
linkedin.com/in/williamhgates  - for example.
doesnt get description, title or image.

[2019-07-01 10:05] jaimeiniesta commented on #249
Duplicate of https://github.com/jaimeiniesta/metainspector/issues/209

[2019-07-01 10:05] #249 closed

[2019-09-05 07:07] priyaIntrohive opened #250 "undefined method `headers' for nil:NilClass"
Getting following error in Production environment alone. Tried to reproduce the same in development environment but no luck.

**Error:**
undefined method `headers' for nil:NilClass

**Code:**
[code]

**Error Trace:**

bundler/gems/metainspector-dd8336538164/lib/meta_inspector/request.rb:50:in `content_type': undefined method `headers' for nil:NilClass (NoMethodError)

from bundler/gems/metainspect

[2019-09-09 06:57] jaimeiniesta commented on #250
Thanks for the report!

If it's only happening in production, it looks like it may be due to the remote server rejecting the connection from your production IP.

Can you give an example URL so we try to reproduce this?

[2019-10-11 06:56] cgarre opened #253 "Metainspector timeout for some sites"
for example https://www.businesswire.com timesout even on the demo site.

[2019-10-11 08:22] jaimeiniesta commented on #253
I don't get a timeout when scraping this site from my development machine:

[code]

But I do see the timeout on the demo site. This looks like the remote server may be detecting that the request comes from Heroku and blocking it. There's no much that can be done except:

* Setting a higher timeout https://github.com/metainspector/metainspector#timeout--retries
* Try with another User-Agent header

[2019-10-11 08:22] #253 closed

[2019-12-17 11:44] taurusismysign opened #254 "faraday_middleware (0.13.1) is deprecating Faraday::Error::ClientError"
Getting this in logs:

"NOTE: Inheriting Faraday::Error::ClientError is deprecated; use Faraday::ClientError instead. It will be removed in or after version 1.0"

[2020-01-07 09:54] jaimeiniesta commented on #254
Thanks for the warning - I don't find any explicit reference to `Faraday::Error::ClientError` in our code so this seems to be on the `faraday_middleware` dependency itself.

It will disappear once we upgrade to their latest versions - the Faraday team is in process of upgrading its ecosystem, we'll follow along.

[2020-01-07 09:54] #254 closed

[2020-01-28 01:09] oyeanuj opened #256 "Update Faraday in Gemspec"
Hi @jaimeiniesta, it seems like while trying to upgrade to Ruby 2.7, Faraday needs to be [updated to 1.0](https://github.com/lostisland/faraday/blob/master/CHANGELOG.md) but MetaInspector specifies ~0.17 for Faraday.

Any plans on making the gemspec requirement accommodate Faraday 1.0?

[2020-01-28 23:34] jschwindt commented on #256
We need to wait until `faraday_middleware v1.0.0` is also shipped, see: https://github.com/lostisland/faraday_middleware/issues/200

[2020-02-13 14:39] Abdelhady opened #257 "Can't scrape any url from The Washington Post (even with demo)"
Kindly, **The Washington Post** [site](https://www.washingtonpost.com/) can't be scrapped; not the root domain, nor any of its links like [this article](https://www.washingtonpost.com/graphics/2020/world/national-security/cia-crypto-encryption-machines-espionage/),

I'm already trying on the **demo**, where it is giving me:

execution expired

[2020-02-13 22:46] cgarre opened #258 "twitter.com links not scraped"
for example

https://twitter.com/IvankaTrump

doesnt get description , title or images, is this a known issue ?

[2020-02-14 11:02] jaimeiniesta commented on #257
That seems like the site is rejecting the connection, because it detects your request as an automated one. You may try setting a different User-Agent string, but it's probably based on your IP.

Can you check making the request from another server? For example, the demo is hosted on Heroku, but if you check from your laptop maybe you'll get in. In this case it's not a MetaInspector error, it's jus

[2020-02-14 11:02] #257 closed

[2020-02-14 11:04] jaimeiniesta commented on #258
What do you get? Please check the response and see if the site is blocking your request.

Where are you making the request from? Do you get the same result if you do the request from your local development server?

[2020-02-16 15:07] Abdelhady commented on #257
Well, I've tried from 3 different places:
* The demo
* My local machine (Egypt)
* My production environment (GCP US East region)

where all produced the same issue

[2020-02-17 01:43] jschwindt commented on #257
I've just tried from my home IP in Argentina and it worked well:
[code]

[2020-02-17 12:58] Abdelhady commented on #257
Thanks for your quick response, and hope you the best with the work you are doing here.

[2020-02-19 03:22] ganbootyard commented on #247
Hi all, encountered this today. In my case, the `ArgumentError: invalid byte sequence in UTF-8` only shows after I call the `.best_title` method.

This is how I call it `page = MetaInspector.new('http://yogaclass.com/links.html')`, this does not return any error but only when I do `page.best_title`.

Using the force encoding option, from #239, returns the correct error directly though.

[2020-03-29 01:40] carsonbaker commented on #258
It doesn't work because Twitter renders the same blank static page for every response and then fills in the content with Ajax.

[2020-03-30 08:33] #258 closed

[2020-03-30 08:41] jaimeiniesta commented on #258
@carsonbaker not exactly, what @cgarre complains about is not being able to get the page description, and I'm able to do that from my development server:

[code]

Now, it probably fails in production if Twitter bans the request based on the server IP, for example.

[2020-03-31 18:20] carsonbaker commented on #258
[code]

Looks like Twitter does different stuff depending on the User-Agent. Obviously this isn't a bug with Metainspector, but I just wanted to give @cgarre an idea of what might be going on, and also make sure I wasn't crazy...

[2020-04-01 12:43] jaimeiniesta commented on #258
That's right @carsonbaker , thanks for the example.

Most often, using a custom User-Agent string to fake a browser is the solution. Docs for doing this are here @cgarre

https://github.com/metainspector/metainspector#headers

[2020-04-01 17:08] ryzalyusoff opened #259 "Cannot parse/get correct data from Techcrunch blog posts"
I am having trouble parsing and getting correct infos from Techcrunch blog posts. Take a look at these links for example:
1) [https://techcrunch.com/2020/04/01/take-your-shot-apply-to-tc-top-picks-at-disrupt-sf-2020/](url)
2) [https://techcrunch.com/2019/09/30/spacex-details-starship-and-super-heavy-in-new-website/](url)

And instead of getting the correct title and description etc, heres the resp

[2020-04-02 12:32] jaimeiniesta commented on #259
Yes, it looks like TechCrunch wants you to accept some cookies in order to see the content. If I visit those URLs in my browser I see a pop-up asking me to accept the cookies.

And if I use curl to get the contents (which is similar to what MetaInspector does), I see a `307 Temporary Redirect` due to cookies not being accepted:

[code]

MetaInspector is going to follow these redirections, if you h

[2020-04-07 20:05] oyeanuj opened #260 "Unable to pick favicon"
Hi @jaimeiniesta, not sure if this is known or expected behavior, but I noticed that the favicon icon is not picked consistently by the library.

For example, for [this Kickstarter url](https://www.kickstarter.com/projects/levelgroundcomics/a-taste-of-home-a-cooking-anthology), the [MetaInspector result](https://metainspectordemo.herokuapp.com/scrape?url=https%3A%2F%2Fwww.kickstarter.com%2Fproject

[2020-04-07 22:21] jaimeiniesta commented on #260
Thanks for the report, I've verified this fails in MetaInspector 5.9.0

[2020-04-09 21:37] mindtonic commented on #256
@oyeanuj Thanks for all you guy do, we really appreciate it!

It looks like `faraday_middleware v1.0.0` shipped 11 days ago. I know the world is crazy now but I was curious if you had any ideas on an update timeline to accommodate Faraday 1.0?

[2020-04-09 21:54] jschwindt commented on #256
I'll take care of it and let you know, thanks for the heads up!

[2020-04-10 01:30] jschwindt commented on #256
Still having dependency problems, this time with `faraday-http-cache`:

[code]
Not sure why is it happening because `faraday-http-cache` correctly depends of `faraday >= 0.8` but bundler whats ~> 0.8

[2020-04-18 17:10] bricemaurin commented on #256
hi @jschwindt did you succeed updating this ? thanks 🙏 in advance !

[2020-04-18 22:56] jschwindt commented on #256
faraday-http-cache was updated a few dates ago, I'll give it a try now! Thanks!

[2020-04-24 12:23] jaimeiniesta commented on #256
MetaInspector 5.10.0 has been released, with support for Faraday 1.0

[2020-04-24 12:23] #256 closed

[2020-05-07 06:18] gizipp opened #262 "Failed to fetch correct best title from URL with double quotes characters title"
Hello, @jaimeiniesta

The URL below has quotation marks in the title, thus the value of meta twitter:title seems incorrect.

URL : https://cobwwweb.com/add-reload-method-to-ruby-console
Title : Add a "reload!" Method to your Ruby Console
Best Title: Add a

Checked using web also failed https://metainspectordemo.herokuapp.com/scrape?url=https%3A%2F%2Fcobwwweb.com%2Fadd-reload-method-to-ruby-console

[2020-05-08 00:41] jschwindt commented on #262
@gizipp The problem is that the HTML es malformed because the quotes must be escaped and in this case they aren’t:

`<meta name="twitter:title" content="Add a "reload!" Method to your Ruby Console">`

The HTML should be this way:

`<meta name="twitter:title" content="Add a &quot;reload!&quot; Method to your Ruby Console">`

Check this: https://validator.w3.org/nu/?doc=https%3A%2F%2Fcobwwweb.com%2F

[2020-05-08 00:41] #262 closed

[2020-05-10 22:35] kalemi19 opened #263 "Unable to render images that have special characters in src"
For example the best image for https://information-mundgesundheit.de/ernaehrungskonzept-zahnarztpraxis/ returns a 404 error: https://information-mundgesundheit.de/wp-content/uploads/2020/05/img-titel-ern%C3%A4hrung-boosting.jpg

The correct src is: https://information-mundgesundheit.de/wp-content/uploads/2020/05/img-titel-ernährung-boosting.jpg (notice the "ä").

I tried unescaping the return sr

[2020-05-11 01:10] jschwindt commented on #263
I've just tried it with version 5.10.0 and it worked fine:

[code]
Can you be more specific about how you test it or how you handle the result after getting the image from MetaInspector?

[2020-05-11 06:55] kalemi19 commented on #263
Maybe the issue has been fixed in 5.10.0. I'm currently using 5.6.0. Let me try it.

Nothing special I'm doing. I'm simply rendering the response as it's done on https://metainspectordemo.herokuapp.com/

As you can see, even on the demo page the best image shows 404 for https://information-mundgesundheit.de/ernaehrungskonzept-zahnarztpraxis/

[2020-05-11 08:04] kalemi19 commented on #263
I can't upgrade to 5.10.0 due to several dependency conflicts with other gems. I will see if I can do a monkey patch.

[2020-05-11 11:29] kalemi19 commented on #263
Duplicate of #215

Avoiding normalizing image URLs seems to be the fix that is already addressed in #215.

Thanks.

[2020-05-11 11:29] #263 closed

[2020-05-11 13:35] jschwindt commented on #263
Indeed 5.10.0 has several dependencies upgrades, but #215 is not new, so you should be able to go back a few versions back.

[2020-05-11 15:18] kalemi19 commented on #263
True. 5.7.0 does the job. Thanks for the prompt responses.

[2020-05-13 15:41] kalemi19 commented on #259
Try using a proxy. That did the trick for us. We're currently using NordVPN (US server) and you can pass the proxy info to the faraday_options as the following

[code]

[2020-05-13 15:42] kalemi19 commented on #257
Try using a proxy. That did the trick for us. We're currently using NordVPN (US server) and you can pass the proxy info to the faraday_options as the following

[code]

[2020-05-16 23:31] oyeanuj commented on #260
If it is helpful, here is what the metascraper JS library is looking for:
 https://github.com/microlinkhq/metascraper/blob/428bb1d37181f384ea68e1bb7919419f2b94ad87/packages/metascraper-logo-favicon/index.js#L35-L38

[2020-05-18 00:35] jschwindt commented on #260
Hi @oyeanuj! After some debugging I realized that the site returns a different html from what you get from the browser, and that content doesn’t have a favicon header. I tried different headers and finally found the one that makes it work:

[code]

[2020-05-18 00:35] #260 closed

[2020-05-18 01:18] oyeanuj commented on #260
@jschwindt Thanks for digging in! What do you think is the solution for such cases?

It seems like the Favicon rules could be a little bit more robust (like I shared with Metascraper above) as they are able to find it.

[2020-05-18 03:17] jschwindt commented on #260
In this particular case the way for the server to respond with the favicon is sending the 'accept' header, and seems to be an easy solution for you to add the header when instantiating the class.

Regarding the Metascraper code, it looks like it was thought to retrieve a logo of the site and not simply the favicon. You can always use xpath on the parsed html, for example:

[code]

Anyway you are w

[2020-05-22 07:27] #259 closed

[2020-06-09 19:24] sanattaori opened #265 "Metainspector stopped working for twitter.com"
Previously metainspector was returning title, description, images for twitter but now it returns nil.
can you fix this issue?

[code]
Output for page.meta

`=> {"viewport"=>"width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover", "google-site-verification"=>"V0yIS0Ec_o3Ii9KThrCoMCkwTYMMJ_JYx_RSaGhFYvw", "mobile-web-app-capable"=>"yes", "apple-mobile-web-app-title"=>

[2020-06-10 07:59] sanattaori commented on #265
Useful meta info removed from twitter.com,
can you add feature to scrape html info like twitter-bio for twitter.com?

[2020-06-10 13:03] ishields opened #266 "base_url returns ''"
Hello! First off, really useful and awesome gem! Great work.

I'm running into an issue with an image not being absolutified.   I tracked it down and believe this occurs because base_url is returning an empty string not the url of the page.  I believe the issue is with this method:
[code]
base_href = '' not nil.  As a result the statement returns base_href not url.

The html the gem is scraping lo

[2020-06-10 14:00] ishields opened #268 "Allow returning image type and file size from FastImage"
FastImage provides file type and file size information.  Both of these attributes are helpful when looking a the images on a website.

Ex 1: images that are extremely large or extremely small can be detected
Ex 2: images of unsupported file types can be detected.

I'd like to add a new option to allow returning this additional meta information from FastImage.

**Note: PR is in progress and will be

[2020-06-10 14:04] ishields opened #269 "Improve detection of non standard images on modern web pages"
Currently the image detection mostly pays attention to the src attribute on an img tag.  Modern webpages often use other means to define images srcset, data-img, data-bg, etc.  This ticket is to expand on the image detection to try and fetch images defined in more ways so we can return the best images possible.

**Note: A very raw attempt at doing this is in progress and I will attach a PR but wil

[2020-06-13 21:50] ishields commented on #242
I think the idea of making "download_images" an integer instead of a boolean is a good one too.  I will make a PR.

[2020-06-14 11:52] ishields opened #271 "Use FastImage to detect images that can't be downloaded"
I've noticed that meta_inspector returns urls of images that can't be downloaded. When download_images is enabled, we can actually use FastImage to detect non-found images.

This ticket is to track several changes:

1. Add new option to download_image_options hash called "reject_invalid_images"
2. When "download_images" and "reject_invalid_images" options are enabled, we should return nil when the

[2020-06-14 12:41] ishields commented on #271
(I updated the description of this ticket to cover all features related to validity of the images.)

[2020-06-14 23:11] jschwindt commented on #265
Twitter switched to a full dynamic site (javascript + APIs), there isn’t much we can do to solve that. You should use Twitter's public API.

[2020-06-14 23:11] #265 closed

[2020-06-15 00:04] jschwindt commented on #269
Hi @ishields! I agree on improving the image detection but I think we should use only standard attributes like `srcset`. Regarding the `data-*` I think it's almost impossible to be aware of all the user defined attributes that anyone can use.

[2020-06-17 10:22] jaimeiniesta commented on #266
Thanks for the report! Can you provide an URL that we can test in order to reproduce this?

[2020-06-21 08:15] jaimeiniesta commented on #268
This is a great idea, @ishields 👍

I'm super busy these days but I'll try to review your PRs. Please ensure that you include specs for all your changes, these can help to understand them better as well.

[2020-07-06 09:12] jaimeiniesta commented on #266
Fixed via https://github.com/metainspector/metainspector/pull/267

[2020-07-06 09:12] #266 closed

[2020-07-16 07:18] blacksyan opened #272 "Error `getaddrinfo: Name or service not known` when scrape page with same host"
Currently when I tried to scrape my own website, it return
[code]

at the beginning I think there is a mistake in my code, but when I tried this link, it raised an error `getaddrinfo: Name or service not known`.

Link to reproduce:
https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fhttps%3A%2F%2Fmetainspectordemo.herokuapp.com%2F

[2020-07-16 15:09] jschwindt commented on #272
@blacksyan you are trying to scrape an address like this: `http://https://metainspectordemo.herokuapp.com/` that make no sense. Your example with `myweb.co:80` is this:

https://metainspectordemo.herokuapp.com/scrape?url=http%3A%2F%2Fmyweb.co%3A80

and works well.

[2020-10-06 22:38] summera opened #273 "MetaInspector hanging for url when timeout >= 20"
We've come across a URL (`https://www.gmct.com.au/harkness`) where MetaInspector will get stuck when the timeout is high enough (like >= 20 seconds). For example, if you do:

[code]

You correctly get a timeout error. However, if you bump that timeout up to `20`, it just hangs:

[code]

It looks like this site is using `Next.js` and the size of the page is quite large, but it's hard to tell what's

[2020-10-08 07:15] jaimeiniesta commented on #273
Thanks for the report!

I just reproduced that in my dev environment. I didn't need to bump the timeout to 20, with your first example it took a long to process and I had to interrupt it:

[code]

[2020-10-08 07:37] jaimeiniesta commented on #273
OK, that URL returns a 15.9 Mb HTML file:

[code]

It looks like the timeout is not in the request done by Faraday, but later in the processing of the HTML by Nokogiri. In my case, if I give it enough time, it succeeds but it takes up a lot of memory to parse such a large document.

So in a nutshell, I don't see it failing - your first TimeoutError might be a proper HTTP request timeout, while in

[2020-10-08 14:20] summera commented on #273
@jaimeiniesta thanks for looking into this! I'll try wrapping our calls to `MetaInspector` with a `Timeout::timeout` like you suggest. A `parse_timeout` option in `MetaInspector` would be nice.

[2020-10-08 20:15] jschwindt commented on #273
It's not a very common case to have such a big html, but as you said a `parse_timeout` could protect against this problem.

[2020-10-13 10:42] jaimeiniesta commented on #273
OK, I think it would be a nice addition to add a `parse_timeout` option, I'll be happy to review a PR if anyone wants to work on this.

[2020-11-06 10:32] navarasu commented on #240
We can handle this similar to blank base href.

[2020-11-06 11:49] jaimeiniesta commented on #240
No, I don't think a base href of "/" should be treated as an empty one. It means different things: if empty, it need to be ignored, but if it says "/", the document author is trying to say that relative links should be built from the **root** directory. For example:

Let's say there's a page http://example.com/some/dir/first.html and it has a link:

[code]

When there is no base href (or it is emp

[2020-11-06 13:16] navarasu commented on #240
Yeah. It makes sense.

[2020-11-06 13:18] navarasu commented on #240
[code]

[2020-11-09 19:22] navarasu commented on #240
@jaimeiniesta  Please check this PR. Time being I have overridden this method in my project to fix the failure.

[2021-04-09 07:09] #272 closed

[2021-04-09 07:11] #250 closed

[2021-04-09 07:11] #245 closed

[2021-04-09 07:14] #195 closed

[2021-06-09 12:23] #247 closed

[2021-06-10 06:48] jaimeiniesta commented on #247
Just checked with MetaInspector 5.11.1, this is no longer an issue (please reopen if it happens again).

In the case submitted by @ghost it works without forcing the encoding as well:

[code]

[2021-06-10 06:50] jaimeiniesta opened #282 "Update .to_hash to remove deprecation notice"
We have a deprecation notice in `to_hash`:

[code]

We need to review this method and update the calls it makes to use the latests API.

[2021-06-16 14:49] vnguyen1982 opened #283 "Different results between local and server"
Hello,

I have an issue with this result.

It's working well at my local, but when I deploy it to the server, the result is wrong. I can't get page.images.favicon or page.meta.

I checked the result from the server and see different

Attached are the results of my local and server.

[local.txt](https://github.com/metainspector/metainspector/files/6663842/local.txt)
[server.txt](https://github.com/

[2021-06-16 15:25] jaimeiniesta commented on #283
Hi, the remote server may be responding with different content depending on your IP, that could explain you're getting different results.

Can you share the Ruby code you're using to make those calls so we can reproduce it?

[2021-06-16 15:28] jaimeiniesta commented on #283
This is what I get from my dev:

[code]

[2021-06-16 15:35] vnguyen1982 commented on #283
First, my code is:
`page = MetaInspector.new(params[:url])`

And now is
`page = MetaInspector.new(params[:url],
                                 :connection_timeout => 5, :read_timeout => 5,
                                 :headers => { 'User-Agent' => user_agent, 'Accept-Encoding' => 'identity' },
                                 :faraday_options => { :ssl => { :verify => false } },

[2021-06-16 15:38] vnguyen1982 commented on #283
I tested with many URLs and still have different results

[2021-06-16 15:44] vnguyen1982 commented on #283
I just tried to test in IRB command on the remote server. Seriously, it's working, can get favicon... but still not work on the website

You can check the result from web API here
https://app.sidepitch.com/api/v1/chats/scrape_website_meta/?url=www.crainsdetroit.com/sponsored-content/rochester-hills-based-oem-supplier-takes-part-98-2-new-3d-printer

[2021-06-16 18:23] vnguyen1982 commented on #283
Trying in Rails Console on my remote server, crawling URL is https://google.com
It can't get metadata.

But still working well in IRB or on my local

![Screen Shot 2021-06-16 at 11 19 49 AM](https://user-images.githubusercontent.com/4177595/122272032-f375d700-ce94-11eb-862c-0d300a57a18d.png)

[2021-06-16 18:36] vnguyen1982 commented on #283
Oh, I know the reason. Something when wrong with my gems version on my remote server. Ok, I fixed it. Thanks so much.

[2021-06-16 18:37] #283 closed

[2021-07-22 01:47] dkam commented on #269
Thanks for this gem.  I think that `<picture>` should be supported too.  I'd be happy to submit a pull request if there's interest.

[2021-07-22 06:01] jaimeiniesta commented on #269
@dkam sure that sounds great!

[2021-12-12 03:21] Nakilon commented on #265
Would be cool if the gem told it directly. Like throwing a special exception that the specific website is known to be not parsable. My IRC bot can't obtain the page title.

[2021-12-12 10:46] jaimeiniesta commented on #265
Thanks @Nakilon I see your point but I think the exception message should just return the facts, we can't cover every specific case with custom messages.

[2022-03-31 18:47] jaimeiniesta opened #287 "Fix error in Ruby 3.1.1"
We've enabled CircleCI and discovered that we have some issues with Ruby 3.1.1:

https://app.circleci.com/pipelines/github/metainspector/metainspector/9/workflows/77b5e373-710d-401a-af2c-f6dabc0a6823/jobs/19

@jschwindt rings any bell?

[2022-03-31 21:39] jaimeiniesta commented on #287
@jjb maybe you can take a look at this? This is failing in Ruby 3.1.1 (but works in other Ruby versions):

https://github.com/metainspector/metainspector/blob/master/spec/request_spec.rb#L80-L86

I'm asking because you were involved in this part of the code... back in 2014 ! :)

https://github.com/metainspector/metainspector/commit/a5627c4750af30dd4c8169cb03b961e10d3d253a

[2022-03-31 21:50] jaimeiniesta opened #288 "Upgrade to Faraday 2"
Upgrading guide:

https://github.com/lostisland/faraday/blob/main/UPGRADING.md

[2022-04-01 13:06] jschwindt commented on #287
@jaimeiniesta unfortunately it doesn't ring any bell to me :(

[2022-04-02 17:18] jaimeiniesta commented on #287
Hey @jschwindt no problem - we'll cut a release with Ruby 3.0 support and work on upgrading Faraday and the rest of the dependencies, we'll make it work with Ruby 3.1 eventually 👍

[2022-05-17 11:42] inmar-mohan opened #298 "MetaInspector is unable to scrape a particular blog post"
Hi Team,

Thanks for this awesome gem, we have been using this gem for years to scrape the blog posts. MetaInspector is able to scrape almost all of the blog posts, however, I am facing an issue with one particular blog post.

When scraping this one particular [blog post](https://www.simplyleb.com/recipe/easy-french-fry-nachos/), I am getting the expected results such as `title`, `best_description

[2022-08-01 06:06] yuvalIndie opened #309 "Having trouble to create new instance of MetaInspector"
Hey there ,
working with ruby 2.5 , rails 5.2
when try to do  page = MetaInspector.new('http://sitevalidator.com')
i get error of "ArgumentError (wrong number of arguments (given 1, expected 0))"

thanks

[2022-08-01 07:26] jaimeiniesta commented on #309
Hello!

What version of MetaInspector are you using?

[2022-08-01 09:53] yuvalIndie commented on #309
Hey !
i tried using latest version
also tried to install versions 5.11 , 5.5 and 3

[2022-08-01 10:25] jaimeiniesta commented on #309
That's weird, can you try this outside the Rails environment? I mean, inside `irb`:

[code]

[2022-08-01 10:31] yuvalIndie commented on #309
checked it  outside of Rails env and it works .
any way to run it on rails ?

[2022-08-01 12:07] jaimeiniesta commented on #309
Sure, it should work, many rails projects use metainspector.

Do you have a longer stack trace with the error? I don't see why this might fail.

Maybe you can reproduce that in a sample repo with your ruby and rails version so we can investigate more?

[2022-08-01 12:31] yuvalIndie commented on #309
here is the stack trace ,
[code]

thanks again

[2022-08-01 14:37] jaimeiniesta commented on #309
Thanks, but I don't see any trace of metainspector in that trace...

If you can share a rails app that reproduces the error, I can take another look.